# 04. ANALYTICS

In [1]:
import pandas as pd
import pandasql as psql

In [15]:
path_structured = 'C:\\Users\\anton\\OneDrive\\Documentos\\GitHub\\UniversityHack2024\\data\\03_structured\\'
path_analytics = 'C:\\Users\\anton\\OneDrive\\Documentos\\GitHub\\UniversityHack2024\\data\\04_analytics\\'

path_materias_03 = path_structured + 'materias_primas_total.xlsx'
path_preinoculo_03 = path_structured + 'preinoculo_total.xlsx'
path_inoculo_03 = path_structured + 'inoculo_total.xlsx'
path_cultivo_03 = path_structured + 'cultivo_final_total.xlsx'
path_cent_03 = path_structured + 'centrifugacion_total.xlsx'


# Leer el archivo Excel y guardar el contenido en un DataFrame
df_materiales_03 = pd.read_excel(path_materias_03)
df_preinoculo_03 = pd.read_excel(path_preinoculo_03)
df_inoculo_03 = pd.read_excel(path_inoculo_03)
df_cultivo_03 = pd.read_excel(path_cultivo_03)
df_cent_03 = pd.read_excel(path_cent_03)

In [10]:
print(



df_cent_03.dtypes)

Lote                           int64
ID_centrifuga                float64
Inicio_Centrifugacion_1       object
Fin_Centrifugacion_1          object
avg_velocidad_sep_1          float64
                              ...
max_descargas_parciales_2    float64
Turbidez_2_100               float64
Turbidez_2_200               float64
Turbidez_2_300               float64
Turbidez_2_400               float64
Length: 63, dtype: object

In [17]:
consulta = ''' 
    SELECT
    *
    FROM 
        df_cultivo_03 cu

    LEFT JOIN 
        df_materiales_03 m
    ON 
        CAST(m.Lote AS TEXT) = CAST(cu.LOTE AS TEXT)

    LEFT JOIN 
        df_preinoculo_03 pre
    ON
        pre.LOTE = CAST(cu.LOTE AS TEXT)

    LEFT JOIN
        df_inoculo_03 ino
    ON
        ino.LOTE = CAST(cu.LOTE AS TEXT)

    LEFT JOIN
        df_cent_03 cent
    ON
        CAST(cent.Lote AS TEXT) = CAST(cu.LOTE AS TEXT)
'''
# Ejecutamos la consulta y generamos un dataframe
df_join_train = psql.sqldf(consulta, locals())
display(df_join_train)

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,...,avg_descargas_totales_2,min_descargas_totales_2,max_descargas_totales_2,avg_descargas_parciales_2,min_descargas_parciales_2,max_descargas_parciales_2,Turbidez_2_100,Turbidez_2_200,Turbidez_2_300,Turbidez_2_400
0,23019,1,NaN,14615,82.40,17.28,91.20,184000000.0,17825,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.80,20.80,21.60,21.52
1,23020,1,NaN,14616,80.40,18.80,91.20,181600000.0,14246,NaN,...,NaN,NaN,NaN,6650.426390,6518.431966,6677.551716,12.80,13.04,12.88,12.88
2,23021,1,NaN,13170,66.40,16.16,86.40,248000000.0,17825,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.48,20.48,17.84,20.24
3,23022,1,NaN,14614,85.60,18.48,83.20,229600000.0,12912,NaN,...,NaN,NaN,NaN,6678.741666,6677.179237,6681.402561,10.08,10.00,11.04,9.44
4,23023,1,NaN,14615,77.60,17.12,74.40,132800000.0,17825,26.56,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.04,20.96,20.80,20.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,24049,1,NaN,14617,83.60,18.88,72.64,164800000.0,12912,30.56,...,4.000000,4.000000,4.000000,0.000000,0.000000,0.000000,17.28,NaN,NaN,16.72
151,24050,1,NaN,14614,84.16,17.76,67.60,152000000.0,6379,29.44,...,NaN,NaN,NaN,NaN,NaN,NaN,26.72,NaN,NaN,26.56
152,24051,1,NaN,13169,84.16,17.76,80.80,160800000.0,12912,33.44,...,1.592191,1.542150,1.652972,6672.284397,6670.650781,6675.256872,20.08,NaN,NaN,18.56
153,24052,2,24050.0,14614,86.40,17.28,69.04,148000000.0,14246,23.68,...,1.584164,1.557465,1.622271,6680.530915,6678.185938,6684.106250,18.24,NaN,NaN,18.16
154,24053,2,24051.0,13169,87.20,16.72,79.36,148000000.0,12912,26.56,...,1.663654,1.588021,1.760740,6672.063672,6661.501563,6680.338281,17.92,NaN,NaN,20.40