# 3. STRUCTURED

In [1]:
import pandas as pd
import pandasql as psql
import numpy as np

In [2]:
path_cleansed = 'C:\\Users\\anton\\OneDrive\\Documentos\\GitHub\\UniversityHack2024\\data\\02_cleansed\\'
path_structured = 'C:\\Users\\anton\\OneDrive\\Documentos\\GitHub\\UniversityHack2024\\data\\03_structured\\'

## 3.1 PREINÓCULO

In [ ]:
path_preinoculo_02 = path_cleansed + 'Fases producción_Preinóculo.xlsx'

df_preinoculo_02 = pd.read_excel(path_preinoculo_02)

In [ ]:
# creamos columna de tiempo en horas
df_preinoculo_02['horas_totales_preinoculo'] = (df_preinoculo_02['Fecha/hora fin'] - df_preinoculo_02['Fecha/hora inicio']).dt.total_seconds() / 3600
# eliminamos las fechas
df_preinoculo_02 = df_preinoculo_02.drop(['Fecha/hora inicio', 'Fecha/hora fin'], axis=1)

In [ ]:
# Crear listas para almacenar los pH y turbidez seleccionados
ph_usados = []
turbidez_usados = []

# Iterar sobre cada fila del DataFrame
for i, row in df_preinoculo_02.iterrows():
    # Crear un DataFrame temporal con los pH, turbidez y líneas utilizadas de esa fila
    temp_df = pd.DataFrame({
        'ph': [row['ph_línea 1'], row['ph_línea 2'], row['ph_línea 3']],
        'turbidez': [row['turbidez_línea 1'], row['turbidez_línea 2'], row['turbidez_línea 3']],
        'utilizada': [row['linea_utilizada_línea 1'], row['linea_utilizada_línea 2'], row['linea_utilizada_línea 3']]
    })
    
    # Filtrar los tubos que se utilizan
    tubos_usados = temp_df[temp_df['utilizada'] == 1]
    
    # Tomar los valores de pH y turbidez de los tubos utilizados
    ph_usados.append(tubos_usados['ph'].values)
    turbidez_usados.append(tubos_usados['turbidez'].values)

# Agregar los valores seleccionados al DataFrame original
df_preinoculo_02['ph_usado_1'] = [x[0] if len(x) > 0 else np.nan for x in ph_usados]
df_preinoculo_02['ph_usado_2'] = [x[1] if len(x) > 1 else np.nan for x in ph_usados]
df_preinoculo_02['turbidez_usada_1'] = [x[0] if len(x) > 0 else np.nan for x in turbidez_usados]
df_preinoculo_02['turbidez_usada_2'] = [x[1] if len(x) > 1 else np.nan for x in turbidez_usados]

In [ ]:
df_preinoculo_03 = df_preinoculo_02.drop(['ph_línea 1', 'ph_línea 2', 'ph_línea 3', 'turbidez_línea 1', 'turbidez_línea 2', 'turbidez_línea 3', 'linea_utilizada_línea 1', 'linea_utilizada_línea 2', 'linea_utilizada_línea 3'], axis=1)

In [ ]:
df_preinoculo_03.to_excel(f'{path_structured}preinoculo_total.xlsx', index=False)

## 3.2 INÓCULO

In [ ]:
path_inoculoIPC_02 = path_cleansed + 'CineticosIPC_Inoculos.xlsx'
path_inoculo_02 = path_cleansed + 'Fases producción_Inóculo.xlsx'
path_biopequenyos_02 = path_cleansed + 'biorreactores_pequeños.xlsx'

df_inoculoIPC_02 = pd.read_excel(path_inoculoIPC_02)
df_inoculo_02 = pd.read_excel(path_inoculo_02)
df_biopequenyos_02 = pd.read_excel(path_biopequenyos_02)

In [ ]:
df_agrupado = df_inoculoIPC_02.groupby('Lote').agg({
    'Turbidez': ['mean', 'std', 'min', 'max'],
    'Viabilidad': ['mean', 'std', 'min', 'max']
}).reset_index()

In [ ]:
# renombramos columnas
df_agrupado.columns = ['_'.join(col).strip() for col in df_agrupado.columns.values]
df_agrupado = df_agrupado.rename(columns={'Lote_': 'LOTE'})

In [ ]:
df_final = pd.merge(df_inoculo_02, df_agrupado, on='LOTE', how='outer')

In [ ]:
pysqldf = lambda q: psql(q, globals())

query = '''
    SELECT
        l."LOTE",
        AVG(b.Agitation_PV) AS avg_Agitation_PV,
        MIN(b.Agitation_PV) AS min_Agitation_PV,
        MAX(b.Agitation_PV) AS max_Agitation_PV,

        AVG(b.Air_Sparge_PV) AS avg_Air_Sparge_PV,
        MIN(b.Air_Sparge_PV) AS min_Air_Sparge_PV,
        MAX(b.Air_Sparge_PV) AS max_Air_Sparge_PV,
        
        AVG(b.Biocontainer_Pressure_PV) AS avg_Biocontainer_Pressure_PV,
        MIN(b.Biocontainer_Pressure_PV) AS min_Biocontainer_Pressure_PV,
        MAX(b.Biocontainer_Pressure_PV) AS max_Biocontainer_Pressure_PV,

        AVG(b.DO_1_PV) AS avg_DO_1_PV,
        MIN(b.DO_1_PV) AS min_DO_1_PV,
        MAX(b.DO_1_PV) AS max_DO_1_PV,

        AVG(b.DO_2_PV) AS avg_DO_2_PV,
        MIN(b.DO_2_PV) AS min_DO_2_PV,
        MAX(b.DO_2_PV) AS max_DO_2_PV,

        AVG(b.Gas_Overlay_PV) AS avg_Gas_Overlay_PV,
        MIN(b.Gas_Overlay_PV) AS min_Gas_Overlay_PV,
        MAX(b.Gas_Overlay_PV) AS max_Gas_Overlay_PV,

        AVG(b.Load_Cell_Net_PV) AS avg_Load_Cell_Net_PV,
        MIN(b.Load_Cell_Net_PV) AS min_Load_Cell_Net_PV,
        MAX(b.Load_Cell_Net_PV) AS max_Load_Cell_Net_PV,

        AVG(b.pH_1_PV) AS avg_pH_1_PV,
        MIN(b.pH_1_PV) AS min_pH_1_PV,
        MAX(b.pH_1_PV) AS max_pH_1_PV,

        AVG(b.pH_2_PV) AS avg_pH_2_PV,
        MIN(b.pH_2_PV) AS min_pH_2_PV,
        MAX(b.pH_2_PV) AS max_pH_2_PV,

        AVG(b.PUMP_1_PV) AS avg_PUMP_1_PV,
        MIN(b.PUMP_1_PV) AS min_PUMP_1_PV,
        MAX(b.PUMP_1_PV) AS max_PUMP_1_PV,

        AVG(b.PUMP_1_TOTAL) AS avg_PUMP_1_TOTAL,
        MIN(b.PUMP_1_TOTAL) AS min_PUMP_1_TOTAL,
        MAX(b.PUMP_1_TOTAL) AS max_PUMP_1_TOTAL,

        AVG(b.PUMP_2_PV) AS avg_PUMP_2_PV,
        MIN(b.PUMP_2_PV) AS min_PUMP_2_PV,
        MAX(b.PUMP_2_PV) AS max_PUMP_2_PV,

        AVG(b.PUMP_2_TOTAL) AS avg_PUMP_2_TOTAL,
        MIN(b.PUMP_2_TOTAL) AS min_PUMP_2_TOTAL,
        MAX(b.PUMP_2_TOTAL) AS max_PUMP_2_TOTAL,

        AVG(b.Single_Use_DO_PV) AS avg_Single_Use_DO_PV,
        MIN(b.Single_Use_DO_PV) AS min_Single_Use_DO_PV,
        MAX(b.Single_Use_DO_PV) AS max_Single_Use_DO_PV,

        AVG(b.Single_Use_pH_PV) AS avg_Single_Use_pH_PV,
        MIN(b.Single_Use_pH_PV) AS min_Single_Use_pH_PV,
        MAX(b.Single_Use_pH_PV) AS max_Single_Use_pH_PV,

        AVG(b.Temperatura_PV) AS avg_Temperatura_PV,
        MIN(b.Temperatura_PV) AS min_Temperatura_PV,
        MAX(b.Temperatura_PV) AS max_Temperatura_PV
    FROM
        df_final l
    LEFT JOIN
        df_biopequenyos_02 b
    ON
        l."ID bioreactor" = b.Numero_Biorreactor
        AND b.DateTime BETWEEN l."Fecha/hora inicio" AND l."Fecha/hora fin"
    GROUP BY
        l."LOTE";
'''

resultado = pysqldf(query)

In [ ]:
consulta = """
    SELECT *
    FROM df_final
    LEFT JOIN resultado
    ON df_final.LOTE = resultado.LOTE
    """

In [ ]:
resultadofinal = psql.sqldf(consulta, locals())

In [ ]:
resultadofinal.drop(columns=['LOTE.1'], inplace=True)

In [ ]:
resultadofinal['horas_totales_inoculo'] = (resultadofinal['Fecha/hora fin'] - resultadofinal['Fecha/hora inicio']).dt.total_seconds() / 3600

In [ ]:
resultadofinal = resultadofinal.drop(['Fecha/hora inicio', 'Fecha/hora fin'], axis=1)

In [ ]:
resultadofinal.to_excel(f'{path_cleansed}inoculo_total.xlsx', index=False)

## 3.3 CULTIVO FINAL

In [4]:
# Leer el archivo Excel y guardar el contenido en un DataFrame
path_cultivo_02 = path_cleansed + 'Fases producción_Cultivo final.xlsx'
path_biograndes_02 = path_cleansed + 'biorreactores_grandes.xlsx'
path_cultivoIPC_02 = path_cleansed + 'CineticosIPC_Cultivos.xlsx'

df_cultivo_02 = pd.read_excel(path_cultivo_02)
df_biograndes_02 = pd.read_excel(path_biograndes_02)
df_cultivoIPC_02 = pd.read_excel(path_cultivoIPC_02)

In [5]:
display(df_cultivo_02)

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-23 06:30:00,82.40,17.28,91.20,184000000.0,17825,NaN,NaN,1747.920
1,23020,1,NaN,14616,2023-03-21 07:30:00,2023-03-23 06:30:00,80.40,18.80,91.20,181600000.0,14246,NaN,NaN,1676.160
2,23021,1,NaN,13170,2023-03-22 07:30:00,2023-03-24 06:30:00,66.40,16.16,86.40,248000000.0,17825,NaN,NaN,1928.496
3,23022,1,NaN,14614,2023-03-22 07:30:00,2023-03-24 06:30:00,85.60,18.48,83.20,229600000.0,12912,NaN,NaN,1782.800
4,23023,1,NaN,14615,2023-03-28 07:27:00,2023-03-30 10:00:00,77.60,17.12,74.40,132800000.0,17825,26.56,20.88,1861.840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00,2024-03-18 08:23:00,83.60,18.88,72.64,164800000.0,12912,30.56,17.00,1342.800
148,24050,1,NaN,14614,2024-03-23 08:57:00,2024-03-25 08:28:00,84.16,17.76,67.60,152000000.0,6379,29.44,26.64,1422.800
149,24051,1,NaN,13169,2024-03-23 08:57:00,2024-03-25 08:33:00,84.16,17.76,80.80,160800000.0,12912,33.44,19.32,1486.560
150,24052,2,24050.0,14614,2024-03-25 13:28:00,2024-03-27 08:51:00,86.40,17.28,69.04,148000000.0,14246,23.68,18.20,1857.280
151,24053,2,24051.0,13169,2024-03-25 12:27:00,2024-03-27 08:27:00,87.20,16.72,79.36,148000000.0,12912,26.56,19.16,1784.080

In [6]:
query = '''
    SELECT
        l.*,
        AVG(b.Agitation_PV) AS avg_Agitation_PV,
        MIN(b.Agitation_PV) AS min_Agitation_PV,
        MAX(b.Agitation_PV) AS max_Agitation_PV,

        AVG(b.Air_Sparge_PV) AS avg_Air_Sparge_PV,
        MIN(b.Air_Sparge_PV) AS min_Air_Sparge_PV,
        MAX(b.Air_Sparge_PV) AS max_Air_Sparge_PV,

        AVG(b.Biocontainer_Pressure_PV) AS avg_Biocontainer_Pressure_PV,
        MIN(b.Biocontainer_Pressure_PV) AS min_Biocontainer_Pressure_PV,
        MAX(b.Biocontainer_Pressure_PV) AS max_Biocontainer_Pressure_PV,

        AVG(b.DO_1_PV) AS avg_DO_1_PV,
        MIN(b.DO_1_PV) AS min_DO_1_PV,
        MAX(b.DO_1_PV) AS max_DO_1_PV,

        AVG(b.DO_2_PV) AS avg_DO_2_PV,
        MIN(b.DO_2_PV) AS min_DO_2_PV,
        MAX(b.DO_2_PV) AS max_DO_2_PV,

        AVG(b.Gas_Overlay_PV) AS avg_Gas_Overlay_PV,
        MIN(b.Gas_Overlay_PV) AS min_Gas_Overlay_PV,
        MAX(b.Gas_Overlay_PV) AS max_Gas_Overlay_PV,

        AVG(b.Load_Cell_Net_PV) AS avg_Load_Cell_Net_PV,
        MIN(b.Load_Cell_Net_PV) AS min_Load_Cell_Net_PV,
        MAX(b.Load_Cell_Net_PV) AS max_Load_Cell_Net_PV,

        AVG(b.pH_1_PV) AS avg_pH_1_PV,
        MIN(b.pH_1_PV) AS min_pH_1_PV,
        MAX(b.pH_1_PV) AS max_pH_1_PV,

        AVG(b.pH_2_PV) AS avg_pH_2_PV,
        MIN(b.pH_2_PV) AS min_pH_2_PV,
        MAX(b.pH_2_PV) AS max_pH_2_PV,

        AVG(b.PUMP_1_PV) AS avg_PUMP_1_PV,
        MIN(b.PUMP_1_PV) AS min_PUMP_1_PV,
        MAX(b.PUMP_1_PV) AS max_PUMP_1_PV,

        AVG(b.PUMP_1_TOTAL) AS avg_PUMP_1_TOTAL,
        MIN(b.PUMP_1_TOTAL) AS min_PUMP_1_TOTAL,
        MAX(b.PUMP_1_TOTAL) AS max_PUMP_1_TOTAL,

        AVG(b.PUMP_2_PV) AS avg_PUMP_2_PV,
        MIN(b.PUMP_2_PV) AS min_PUMP_2_PV,
        MAX(b.PUMP_2_PV) AS max_PUMP_2_PV,

        AVG(b.PUMP_2_TOTAL) AS avg_PUMP_2_TOTAL,
        MIN(b.PUMP_2_TOTAL) AS min_PUMP_2_TOTAL,
        MAX(b.PUMP_2_TOTAL) AS max_PUMP_2_TOTAL,

        AVG(b.Single_Use_DO_PV) AS avg_Single_Use_DO_PV,
        MIN(b.Single_Use_DO_PV) AS min_Single_Use_DO_PV,
        MAX(b.Single_Use_DO_PV) AS max_Single_Use_DO_PV,

        AVG(b.Single_Use_pH_PV) AS avg_Single_Use_pH_PV,
        MIN(b.Single_Use_pH_PV) AS min_Single_Use_pH_PV,
        MAX(b.Single_Use_pH_PV) AS max_Single_Use_pH_PV,

        AVG(b.Temperatura_PV) AS avg_Temperatura_PV,
        MIN(b.Temperatura_PV) AS min_Temperatura_PV,
        MAX(b.Temperatura_PV) AS max_Temperatura_PV
    FROM
        df_cultivo_02 l
    LEFT JOIN
        df_biograndes_02 b
    ON
        l."ID Bioreactor" = b.Numero_Biorreactor
        AND b.DateTime BETWEEN l."Fecha/hora inicio" AND l."Fecha/hora fin"
    GROUP BY
        l."LOTE";
'''

# Ejecutar la consulta
df_bio_metrics = psql.sqldf(query, locals())

# Ver el resultado
display(df_bio_metrics)

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,...,max_PUMP_2_TOTAL,avg_Single_Use_DO_PV,min_Single_Use_DO_PV,max_Single_Use_DO_PV,avg_Single_Use_pH_PV,min_Single_Use_pH_PV,max_Single_Use_pH_PV,avg_Temperatura_PV,min_Temperatura_PV,max_Temperatura_PV
0,23019,1,NaN,14615,2023-03-21 07:30:00.000000,2023-03-23 06:30:00.000000,82.40,17.28,91.20,184000000.0,...,72.465216,1.093214,0.086804,2.883038,18.778709,0.000000,64.813263,80.000000,80.000000,80.000000
1,23020,1,NaN,14616,2023-03-21 07:30:00.000000,2023-03-23 06:30:00.000000,80.40,18.80,91.20,181600000.0,...,7664.883277,21.577901,5.735131,72.934606,5.827639,5.815979,5.864000,29.602002,29.536005,29.664001
2,23021,1,NaN,13170,2023-03-22 07:30:00.000000,2023-03-24 06:30:00.000000,66.40,16.16,86.40,248000000.0,...,7907.745313,683.020051,70.887667,686.276074,791.407652,-0.152000,799.839990,29.602256,29.528003,29.680005
3,23022,1,NaN,14614,2023-03-22 07:30:00.000000,2023-03-24 06:30:00.000000,85.60,18.48,83.20,229600000.0,...,7878.989844,680.947528,65.397822,684.221729,795.767927,6.160000,799.967969,29.576063,28.768005,30.240449
4,23023,1,NaN,14615,2023-03-28 07:27:00.000000,2023-03-30 10:00:00.000000,77.60,17.12,74.40,132800000.0,...,77.339917,0.902589,-0.075232,2.881946,9.226358,0.000000,64.505910,80.000000,80.000000,80.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00.000000,2024-03-18 08:23:00.000000,83.60,18.88,72.64,164800000.0,...,6015.101953,21.457989,7.061660,68.151521,5.624023,5.624023,5.624023,29.600751,29.552002,29.671997
148,24050,1,NaN,14614,2024-03-23 08:57:00.000000,2024-03-25 08:28:00.000000,84.16,17.76,67.60,152000000.0,...,5185.023828,21.856573,7.577548,70.228949,5.771662,5.754651,5.826556,29.601110,29.504004,29.656006
149,24051,1,NaN,13169,2024-03-23 08:57:00.000000,2024-03-25 08:33:00.000000,84.16,17.76,80.80,160800000.0,...,7012.593143,18.256878,7.483303,67.568395,5.840148,5.832000,5.888000,29.600965,29.362171,29.895999
150,24052,2,24050.0,14614,2024-03-25 13:28:00.000000,2024-03-27 08:51:00.000000,86.40,17.28,69.04,148000000.0,...,5945.302734,23.239683,6.838995,69.054651,5.754224,5.616000,5.832000,29.554171,23.797557,30.295996
151,24053,2,24051.0,13169,2024-03-25 12:27:00.000000,2024-03-27 08:27:00.000000,87.20,16.72,79.36,148000000.0,...,7118.734375,20.906213,3.435188,68.338289,5.826171,5.701846,5.832000,29.262855,21.448001,30.000003

In [32]:
# Convertimos los campos de fecha de object a datetime
df_bio_metrics['Fecha/hora inicio'] = pd.to_datetime(df_bio_metrics['Fecha/hora inicio'])
df_bio_metrics['Fecha/hora fin'] = pd.to_datetime(df_bio_metrics['Fecha/hora fin'])

# Calculamos la diferencia entre las fechas
df_bio_metrics['horas_totales_cultivofinal'] = (df_bio_metrics['Fecha/hora fin'] - df_bio_metrics['Fecha/hora inicio']).dt.total_seconds() / 3600

In [33]:
#CREAMOS UN DATAFRAME CON MÉTRICAS DE LAS DISTINTAS COLUMNAS DE CINÉTICOS IPC SEGÚN EL LOTE (MEDIA, MIN,...)
df_metricsIPC = df_cultivoIPC_02.groupby('Lote').agg({
    'Turbidez': ['mean', 'std', 'min', 'max'],
    'Viabilidad': ['mean', 'std', 'min', 'max'],
    'Glucosa': ['mean', 'std', 'min', 'max']
}).reset_index()
df_metricsIPC.columns = [''.join(col).strip() for col in df_metricsIPC.columns.values]

In [42]:
query = '''
SELECT 
    b.LOTE,
    `Orden en el encadenado` AS Orden,
    `LOTE parental` AS LOTE_parental,
    `ID Bioreactor` AS ID_Bioreactor,
    horas_totales_cultivofinal,
    `Volumen de inóculo utilizado` AS Volumen_inoculo_utilizado,
    `Turbidez inicio cultivo` AS Turbidez_inicio_cultivo,
    `Turbidez fin cultivo` AS Turbidez_fin_cultivo,
    `Viabilidad final cultivo` AS Viabilidad_final_cultivo,
    `ID Centrífuga` AS ID_Centrifuga,
    `Centrifugación 1 turbidez` AS Centrifugacion_1_turbidez,
    `Centrifugación 2 turbidez` AS Centrifugacion_2_turbidez,
    `Producto 1` AS Producto_1,
    avg_Agitation_PV AS Biorreactor_grande_avg_Agitation_PV,
    min_Agitation_PV AS Biorreactor_grande_min_Agitation_PV,
    max_Agitation_PV AS Biorreactor_grande_max_Agitation_PV,
    avg_Air_Sparge_PV AS Biorreactor_grande_avg_Air_Sparge_PV,
    min_Air_Sparge_PV AS Biorreactor_grande_min_Air_Sparge_PV,
    max_Air_Sparge_PV AS Biorreactor_grande_max_Air_Sparge_PV,
    avg_Biocontainer_Pressure_PV AS Biorreactor_grande_avg_Biocontainer_Pressure_PV,
    min_Biocontainer_Pressure_PV AS Biorreactor_grande_min_Biocontainer_Pressure_PV,
    max_Biocontainer_Pressure_PV AS Biorreactor_grande_max_Biocontainer_Pressure_PV,
    avg_DO_1_PV AS Biorreactor_grande_avg_DO_1_PV,
    min_DO_1_PV AS Biorreactor_grande_min_DO_1_PV,
    max_DO_1_PV AS Biorreactor_grande_max_DO_1_PV,
    avg_DO_2_PV AS Biorreactor_grande_avg_DO_2_PV,
    min_DO_2_PV AS Biorreactor_grande_min_DO_2_PV,
    max_DO_2_PV AS Biorreactor_grande_max_DO_2_PV,
    avg_Gas_Overlay_PV AS Biorreactor_grande_avg_Gas_Overlay_PV,
    min_Gas_Overlay_PV AS Biorreactor_grande_min_Gas_Overlay_PV,
    max_Gas_Overlay_PV AS Biorreactor_grande_max_Gas_Overlay_PV,
    avg_Load_Cell_Net_PV AS Biorreactor_grande_avg_Load_Cell_Net_PV,
    min_Load_Cell_Net_PV AS Biorreactor_grande_min_Load_Cell_Net_PV,
    max_Load_Cell_Net_PV AS Biorreactor_grande_max_Load_Cell_Net_PV,
    avg_pH_1_PV AS Biorreactor_grande_avg_pH_1_PV,
    min_pH_1_PV AS Biorreactor_grande_min_pH_1_PV,
    max_pH_1_PV AS Biorreactor_grande_max_pH_1_PV,
    avg_pH_2_PV AS Biorreactor_grande_avg_pH_2_PV,
    min_pH_2_PV AS Biorreactor_grande_min_pH_2_PV,
    max_pH_2_PV AS Biorreactor_grande_max_pH_2_PV,
    avg_PUMP_1_PV AS Biorreactor_grande_avg_PUMP_1_PV,
    min_PUMP_1_PV AS Biorreactor_grande_min_PUMP_1_PV,
    max_PUMP_1_PV AS Biorreactor_grande_max_PUMP_1_PV,
    avg_PUMP_1_TOTAL AS Biorreactor_grande_avg_PUMP_1_TOTAL,
    min_PUMP_1_TOTAL AS Biorreactor_grande_min_PUMP_1_TOTAL,
    max_PUMP_1_TOTAL AS Biorreactor_grande_max_PUMP_1_TOTAL,
    avg_PUMP_2_PV AS Biorreactor_grande_avg_PUMP_2_PV,
    min_PUMP_2_PV AS Biorreactor_grande_min_PUMP_2_PV,
    max_PUMP_2_PV AS Biorreactor_grande_max_PUMP_2_PV,
    avg_PUMP_2_TOTAL AS Biorreactor_grande_avg_PUMP_2_TOTAL,
    min_PUMP_2_TOTAL AS Biorreactor_grande_min_PUMP_2_TOTAL,
    max_PUMP_2_TOTAL AS Biorreactor_grande_max_PUMP_2_TOTAL,
    avg_Single_Use_DO_PV AS Biorreactor_grande_avg_Single_Use_DO_PV,
    min_Single_Use_DO_PV AS Biorreactor_grande_min_Single_Use_DO_PV,
    max_Single_Use_DO_PV AS Biorreactor_grande_max_Single_Use_DO_PV,
    avg_Single_Use_pH_PV AS Biorreactor_grande_avg_Single_Use_pH_PV,
    min_Single_Use_pH_PV AS Biorreactor_grande_min_Single_Use_pH_PV,
    max_Single_Use_pH_PV AS Biorreactor_grande_max_Single_Use_pH_PV,
    avg_Temperatura_PV AS Biorreactor_grande_avg_Temperatura_PV,
    min_Temperatura_PV AS Biorreactor_grande_min_Temperatura_PV,
    max_Temperatura_PV AS Biorreactor_grande_max_Temperatura_PV,
    Turbidezmean AS IPC_Cultivos_Turbidezmean,
    Turbidezstd AS IPC_Cultivos_Turbidezstd,
    Turbidezmin AS IPC_Cultivos_Turbidezmin,
    Turbidezmax AS IPC_Cultivos_Turbidezmax,
    Viabilidadmean AS IPC_Cultivos_Viabilidadmean,
    Viabilidadstd AS IPC_Cultivos_Viabilidadstd,
    Viabilidadmin AS IPC_Cultivos_Viabilidadmin,
    Viabilidadmax AS IPC_Cultivos_Viabilidadmax,
    Glucosamean AS IPC_Cultivos_Glucosamean,
    Glucosastd AS IPC_Cultivos_Glucosastd,
    Glucosamin AS IPC_Cultivos_Glucosamin,
    Glucosamax AS IPC_Cultivos_Glucosamax

FROM 
    df_bio_metrics b
LEFT JOIN 
    df_metricsIPC m
ON 
    b."LOTE" = m."Lote"
'''

# Ejecutar la consulta
df_cultivo_metrics = psql.sqldf(query, locals())

display(df_cultivo_metrics)

,LOTE,Orden,LOTE_parental,ID_Bioreactor,horas_totales_cultivofinal,Volumen_inoculo_utilizado,Turbidez_inicio_cultivo,Turbidez_fin_cultivo,Viabilidad_final_cultivo,ID_Centrifuga,...,IPC_Cultivos_Turbidezmin,IPC_Cultivos_Turbidezmax,IPC_Cultivos_Viabilidadmean,IPC_Cultivos_Viabilidadstd,IPC_Cultivos_Viabilidadmin,IPC_Cultivos_Viabilidadmax,IPC_Cultivos_Glucosamean,IPC_Cultivos_Glucosastd,IPC_Cultivos_Glucosamin,IPC_Cultivos_Glucosamax
0,23019,1,NaN,14615,47.000000,82.40,17.28,91.20,184000000.0,17825,...,17.28,91.20,9.498000e+07,7.196382e+07,8.333333e+06,1.853333e+08,1.439760,0.548857,0.2056,1.968
1,23020,1,NaN,14616,47.000000,80.40,18.80,91.20,181600000.0,14246,...,18.80,91.20,4.833216e+08,1.250238e+09,7.456000e+06,4.036267e+09,1.471280,0.523726,0.3128,1.944
2,23021,1,NaN,13170,47.000000,66.40,16.16,86.40,248000000.0,17825,...,16.16,86.40,9.388606e+07,8.116626e+07,8.906667e+06,2.450667e+08,1.556582,0.501588,0.2824,2.040
3,23022,1,NaN,14614,47.000000,85.60,18.48,83.20,229600000.0,12912,...,18.48,83.20,1.020812e+08,8.139261e+07,7.853333e+06,2.288000e+08,1.604218,0.494893,0.3664,2.048
4,23023,1,NaN,14615,50.550000,77.60,17.12,74.40,132800000.0,17825,...,17.12,81.60,1.057858e+08,7.315154e+07,5.802667e+06,2.120000e+08,1.416933,0.675252,0.4592,2.192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,47.016667,83.60,18.88,72.64,164800000.0,12912,...,18.88,72.64,1.121049e+08,9.219784e+07,5.648000e+06,1.661333e+08,1.122667,0.504021,0.8080,1.704
148,24050,1,NaN,14614,47.516667,84.16,17.76,67.60,152000000.0,6379,...,17.76,67.60,1.209907e+08,7.757540e+07,5.562667e+06,1.733333e+08,1.274667,0.526077,0.9280,1.880
149,24051,1,NaN,13169,47.600000,84.16,17.76,80.80,160800000.0,12912,...,17.76,80.80,1.273567e+08,8.235297e+07,5.160000e+06,1.850667e+08,1.008000,0.437959,0.7200,1.512
150,24052,2,24050.0,14614,43.383333,86.40,17.28,69.04,148000000.0,14246,...,17.28,71.76,9.459200e+07,5.773566e+07,8.506667e+06,1.477333e+08,1.339200,0.364180,0.9840,1.880
151,24053,2,24051.0,13169,44.000000,87.20,16.72,79.36,148000000.0,12912,...,16.72,80.00,1.206133e+08,7.434609e+07,1.392000e+07,1.858667e+08,1.038000,0.489871,0.5600,1.616

In [53]:
# Consulta SQL para añadir la columna 'lote_abuelo'
query = """
    SELECT df.*, 
           CASE 
               WHEN Orden = 3 THEN (
                   SELECT LOTE_parental
                   FROM df_cultivo_metrics AS parent
                   WHERE parent.lote = df.LOTE_parental
               )
               ELSE NULL
           END AS lote_abuelo
    FROM df_cultivo_metrics df
"""

# Ejecutar la consulta
df_cultivo_03 = psql.sqldf(query, locals())

# Mostrar el resultado
display(df_cultivo_03)

,LOTE,Orden,LOTE_parental,ID_Bioreactor,horas_totales_cultivofinal,Volumen_inoculo_utilizado,Turbidez_inicio_cultivo,Turbidez_fin_cultivo,Viabilidad_final_cultivo,ID_Centrifuga,...,IPC_Cultivos_Turbidezmax,IPC_Cultivos_Viabilidadmean,IPC_Cultivos_Viabilidadstd,IPC_Cultivos_Viabilidadmin,IPC_Cultivos_Viabilidadmax,IPC_Cultivos_Glucosamean,IPC_Cultivos_Glucosastd,IPC_Cultivos_Glucosamin,IPC_Cultivos_Glucosamax,lote_abuelo
0,23019,1,NaN,14615,47.000000,82.40,17.28,91.20,184000000.0,17825,...,91.20,9.498000e+07,7.196382e+07,8.333333e+06,1.853333e+08,1.439760,0.548857,0.2056,1.968,NaN
1,23020,1,NaN,14616,47.000000,80.40,18.80,91.20,181600000.0,14246,...,91.20,4.833216e+08,1.250238e+09,7.456000e+06,4.036267e+09,1.471280,0.523726,0.3128,1.944,NaN
2,23021,1,NaN,13170,47.000000,66.40,16.16,86.40,248000000.0,17825,...,86.40,9.388606e+07,8.116626e+07,8.906667e+06,2.450667e+08,1.556582,0.501588,0.2824,2.040,NaN
3,23022,1,NaN,14614,47.000000,85.60,18.48,83.20,229600000.0,12912,...,83.20,1.020812e+08,8.139261e+07,7.853333e+06,2.288000e+08,1.604218,0.494893,0.3664,2.048,NaN
4,23023,1,NaN,14615,50.550000,77.60,17.12,74.40,132800000.0,17825,...,81.60,1.057858e+08,7.315154e+07,5.802667e+06,2.120000e+08,1.416933,0.675252,0.4592,2.192,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,47.016667,83.60,18.88,72.64,164800000.0,12912,...,72.64,1.121049e+08,9.219784e+07,5.648000e+06,1.661333e+08,1.122667,0.504021,0.8080,1.704,NaN
148,24050,1,NaN,14614,47.516667,84.16,17.76,67.60,152000000.0,6379,...,67.60,1.209907e+08,7.757540e+07,5.562667e+06,1.733333e+08,1.274667,0.526077,0.9280,1.880,NaN
149,24051,1,NaN,13169,47.600000,84.16,17.76,80.80,160800000.0,12912,...,80.80,1.273567e+08,8.235297e+07,5.160000e+06,1.850667e+08,1.008000,0.437959,0.7200,1.512,NaN
150,24052,2,24050.0,14614,43.383333,86.40,17.28,69.04,148000000.0,14246,...,71.76,9.459200e+07,5.773566e+07,8.506667e+06,1.477333e+08,1.339200,0.364180,0.9840,1.880,NaN
151,24053,2,24051.0,13169,44.000000,87.20,16.72,79.36,148000000.0,12912,...,80.00,1.206133e+08,7.434609e+07,1.392000e+07,1.858667e+08,1.038000,0.489871,0.5600,1.616,NaN

In [31]:
df_cultivo_03.to_excel(f'{path_structured}cultivo_final_total.xlsx', index=False)

## 3.4 CULTIVO FINAL TEST

In [38]:
path_cultivotest_02 = path_cleansed + 'Fases producción_test_Cultivo final.xlsx'

# Leemos los archivos Excel y guardamos el contenido en un DataFrame
df_cultivotest_02 = pd.read_excel(path_cultivotest_02)

In [48]:
query = '''
    SELECT
        l.*,
        AVG(b.Agitation_PV) AS avg_Agitation_PV,
        MIN(b.Agitation_PV) AS min_Agitation_PV,
        MAX(b.Agitation_PV) AS max_Agitation_PV,

        AVG(b.Air_Sparge_PV) AS avg_Air_Sparge_PV,
        MIN(b.Air_Sparge_PV) AS min_Air_Sparge_PV,
        MAX(b.Air_Sparge_PV) AS max_Air_Sparge_PV,

        AVG(b.Biocontainer_Pressure_PV) AS avg_Biocontainer_Pressure_PV,
        MIN(b.Biocontainer_Pressure_PV) AS min_Biocontainer_Pressure_PV,
        MAX(b.Biocontainer_Pressure_PV) AS max_Biocontainer_Pressure_PV,

        AVG(b.DO_1_PV) AS avg_DO_1_PV,
        MIN(b.DO_1_PV) AS min_DO_1_PV,
        MAX(b.DO_1_PV) AS max_DO_1_PV,

        AVG(b.DO_2_PV) AS avg_DO_2_PV,
        MIN(b.DO_2_PV) AS min_DO_2_PV,
        MAX(b.DO_2_PV) AS max_DO_2_PV,

        AVG(b.Gas_Overlay_PV) AS avg_Gas_Overlay_PV,
        MIN(b.Gas_Overlay_PV) AS min_Gas_Overlay_PV,
        MAX(b.Gas_Overlay_PV) AS max_Gas_Overlay_PV,

        AVG(b.Load_Cell_Net_PV) AS avg_Load_Cell_Net_PV,
        MIN(b.Load_Cell_Net_PV) AS min_Load_Cell_Net_PV,
        MAX(b.Load_Cell_Net_PV) AS max_Load_Cell_Net_PV,

        AVG(b.pH_1_PV) AS avg_pH_1_PV,
        MIN(b.pH_1_PV) AS min_pH_1_PV,
        MAX(b.pH_1_PV) AS max_pH_1_PV,

        AVG(b.pH_2_PV) AS avg_pH_2_PV,
        MIN(b.pH_2_PV) AS min_pH_2_PV,
        MAX(b.pH_2_PV) AS max_pH_2_PV,

        AVG(b.PUMP_1_PV) AS avg_PUMP_1_PV,
        MIN(b.PUMP_1_PV) AS min_PUMP_1_PV,
        MAX(b.PUMP_1_PV) AS max_PUMP_1_PV,

        AVG(b.PUMP_1_TOTAL) AS avg_PUMP_1_TOTAL,
        MIN(b.PUMP_1_TOTAL) AS min_PUMP_1_TOTAL,
        MAX(b.PUMP_1_TOTAL) AS max_PUMP_1_TOTAL,

        AVG(b.PUMP_2_PV) AS avg_PUMP_2_PV,
        MIN(b.PUMP_2_PV) AS min_PUMP_2_PV,
        MAX(b.PUMP_2_PV) AS max_PUMP_2_PV,

        AVG(b.PUMP_2_TOTAL) AS avg_PUMP_2_TOTAL,
        MIN(b.PUMP_2_TOTAL) AS min_PUMP_2_TOTAL,
        MAX(b.PUMP_2_TOTAL) AS max_PUMP_2_TOTAL,

        AVG(b.Single_Use_DO_PV) AS avg_Single_Use_DO_PV,
        MIN(b.Single_Use_DO_PV) AS min_Single_Use_DO_PV,
        MAX(b.Single_Use_DO_PV) AS max_Single_Use_DO_PV,

        AVG(b.Single_Use_pH_PV) AS avg_Single_Use_pH_PV,
        MIN(b.Single_Use_pH_PV) AS min_Single_Use_pH_PV,
        MAX(b.Single_Use_pH_PV) AS max_Single_Use_pH_PV,

        AVG(b.Temperatura_PV) AS avg_Temperatura_PV,
        MIN(b.Temperatura_PV) AS min_Temperatura_PV,
        MAX(b.Temperatura_PV) AS max_Temperatura_PV
    FROM
        df_cultivotest_02 l
    LEFT JOIN
        df_biograndes_02 b
    ON
        l."ID Bioreactor" = b.Numero_Biorreactor
        AND b.DateTime BETWEEN l."Fecha/hora inicio" AND l."Fecha/hora fin"
    GROUP BY
        l."LOTE";
'''

# Ejecutar la consulta
df_bio_metrics_test = psql.sqldf(query, locals())

# Ver el resultado
display(df_bio_metrics_test)

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,...,max_PUMP_2_TOTAL,avg_Single_Use_DO_PV,min_Single_Use_DO_PV,max_Single_Use_DO_PV,avg_Single_Use_pH_PV,min_Single_Use_pH_PV,max_Single_Use_pH_PV,avg_Temperatura_PV,min_Temperatura_PV,max_Temperatura_PV
0,24054,1,NaN,14616,2024-04-16 08:12:00.000000,2024-04-18 07:28:00.000000,81.60,15.44,85.60,184800000,...,7183.130469,20.465047,5.780021,72.630963,5.841373,5.832000,5.864000,29.599317,28.900426,30.149241
1,24055,1,NaN,14614,2024-04-13 08:18:00.000000,2024-04-15 08:30:00.000000,NaN,14.32,73.68,175200000,...,5964.056641,19.574417,8.183004,68.727490,5.830701,5.818623,5.856000,29.607439,29.447998,29.712000
2,24056,1,NaN,14615,2024-04-13 08:18:00.000000,2024-04-15 08:15:00.000000,NaN,14.56,82.40,168000000,...,67.505614,0.735469,0.167822,2.497107,9.724675,0.000000,64.518463,80.000000,80.000000,80.000000
3,24057,1,NaN,13170,2024-04-16 08:12:00.000000,2024-04-18 07:41:00.000000,82.40,17.76,78.96,180800000,...,6052.645582,21.866613,6.678987,72.080063,5.647705,5.632000,5.672000,29.601990,29.256006,30.195487
4,24058,2,24055.0,14614,2024-04-15 12:28:00.000000,2024-04-17 08:14:00.000000,87.20,18.00,82.40,144800000,...,6206.229297,20.617331,5.016961,65.652309,5.801296,5.640000,5.821400,29.582864,23.949269,30.295996
5,24059,2,24056.0,14615,2024-04-15 12:27:00.000000,2024-04-17 08:22:00.000000,87.20,18.08,78.40,166400000,...,66.821680,0.650898,-0.075161,2.456598,9.577750,0.000000,64.351520,79.265519,45.255750,80.000000
6,24060,1,NaN,13169,2024-04-20 09:19:00.000000,2024-04-22 09:12:00.000000,82.40,25.92,76.32,161600000,...,22260.512500,20.890357,6.048154,80.000000,5.816837,5.544000,5.872000,29.600114,29.519998,29.679996
7,24061,1,NaN,14617,2024-04-20 09:24:00.000000,2024-04-22 09:12:00.000000,81.60,28.56,68.96,148800000,...,6418.196875,22.141503,6.924258,80.000000,5.879980,5.879980,5.879980,29.606440,29.559998,29.640002
8,24062,3,24058.0,14614,2024-04-17 12:05:00.000000,2024-04-19 08:05:00.000000,87.20,18.88,80.00,164800000,...,5995.251563,20.897237,5.302253,68.456116,5.780636,5.616000,5.800000,29.481478,22.792115,30.280005
9,24063,1,NaN,13170,2024-04-23 10:35:00.000000,2024-04-25 11:14:00.000000,NaN,15.52,68.72,180800000,...,6813.283594,21.441140,11.659634,69.549927,5.837177,5.819718,5.884202,29.600949,29.559998,29.640002
10,24064,1,NaN,14616,2024-04-23 10:30:00.000000,2024-04-25 11:10:00.000000,NaN,18.56,63.76,174400000,...,4612.701563,21.606049,12.545258,69.829822,5.830034,5.808000,5.880000,29.587710,28.864001,30.207468
11,24065,2,24060.0,13169,2024-04-22 13:09:00.000000,2024-04-24 09:25:00.000000,80.00,18.48,77.60,209600000,...,5932.674219,22.141281,7.355200,65.962790,5.849829,5.828181,5.856000,29.276580,21.860543,29.984000
12,24066,2,24061.0,14617,2024-04-22 13:12:00.000000,2024-04-24 09:22:00.000000,80.00,19.60,77.44,118400000,...,5477.467578,24.014126,6.570135,71.472821,5.879980,5.879980,5.879980,29.345909,22.080361,30.183997
13,24067,1,NaN,14615,2024-04-27 10:01:00.000000,2024-04-29 08:57:00.000000,82.96,16.96,76.88,177600000,...,79.718970,0.063994,-0.520831,1.960724,10.677912,0.000000,64.955823,80.000000,80.000000,80.000000
14,24068,3,24065.0,13169,2024-04-24 13:34:00.000000,2024-04-26 07:11:00.000000,80.00,21.20,80.00,173600000,...,6607.742188,23.918962,2.033898,71.095640,5.831922,5.820332,5.848000,29.505234,25.133047,29.867711
15,24069,3,24066.0,14617,2024-04-24 13:34:00.000000,2024-04-26 11:13:00.000000,80.00,19.92,64.40,160000000,...,4385.042578,24.610916,8.687099,72.889313,5.879980,5.879980,5.879980,29.504182,24.981042,30.088408
16,24070,1,NaN,13170,2024-04-27 10:01:00.000000,2024-04-29 09:05:00.000000,82.96,16.40,81.60,168000000,...,5759.490234,22.813684,2.880000,85.415997,5.841649,5.832000,5.856000,29.598967,29.471997,29.656006
17,24071,1,NaN,13170,2024-04-27 10:01:00.000000,2024-04-29 09:05:00.000000,82.96,16.40,81.60,168000000,...,5759.490234,22.813684,2.880000,85.415997,5.841649,5.832000,5.856000,29.598967,29.471997,29.656006
18,24072,1,NaN,14617,2024-04-30 09:59:00.000000,2024-05-02 07:36:00.000000,80.40,16.16,84.80,195200000,...,5881.535938,21.543178,5.884490,72.604431,5.727979,5.727979,5.727979,29.582334,28.719995,30.171641
19,24073,1,NaN,13170,2024-05-14 08:47:00.000000,2024-05-16 07:19:00.000000,83.20,18.48,78.40,191200000,...,5783.064453,21.155135,5.740855,66.026843,5.836795,5.824000,5.864000,29.598295,29.331382,29.695996
20,24074,1,NaN,14615,2024-05-14 08:48:00.000000,2024-05-16 08:08:00.000000,83.60,18.72,71.36,197600000,...,68.309583,0.544380,-0.135992,2.436340,11.725695,0.000000,64.212753,80.000000,80.000000,80.000000
21,24075,1,NaN,14614,2024-05-18 08:34:00.000000,2024-05-20 08:21:00.000000,82.40,15.76,76.16,163200000,...,6768.750000,20.561827,5.871319,65.789267,5.823079,5.808000,5.848000,29.627604,29.401680,29.898991
22,24076,1,NaN,14617,2024-05-14 08:50:00.000000,2024-05-16 07:15:00.000000,83.20,17.12,75.52,179200000,...,6568.103906,22.856387,7.464622,69.515888,5.838893,5.811787,5.864000,29.604328,29.552002,29.648505
23,24077,1,NaN,14617,2024-05-18 08:35:00.000000,2024-05-20 08:20:00.000000,82.00,16.24,81.60,204800000,...,7462.779688,18.905969,7.229575,66.022821,5.830366,5.816000,5.856000,29.605020,29.553645,29.656006
24,24078,1,NaN,13169,2024-05-21 07:42:00.000000,2024-05-23 07:55:00.000000,82.00,18.00,85.60,172800000,...,7862.362500,22.169130,6.568529,68.114714,5.827979,5.816000,5.848000,29.598980,29.526294,29.674701
25,24079,1,NaN,14615,2024-05-21 07:44:00.000000,2024-05-23 07:55:00.000000,81.20,17.68,75.12,173600000,...,68.825507,-0.087344,-0.909311,1.605902,14.321379,0.000000,64.794232,80.000000,80.000000,80.000000
26,24080,2,24074.0,14614,2024-05-20 12:16:00.000000,2024-05-22 09:19:00.000000,NaN,18.72,88.80,124000000,...,6399.009375,21.904577,4.952414,66.137897,5.794051,5.662307,5.814242,29.504937,23.193669,30.304004
27,24081,2,24076.0,14617,2024-05-20 12:04:00.000000,2024-05-22 09:16:00.000000,NaN,19.44,80.00,90400000,...,6444.629297,21.707743,7.492469,70.857141,5.805348,5.680000,5.816000,29.317149,22.107497,30.183997
28,24082,1,NaN,13170,2024-05-28 07:54:00.000000,2024-05-30 07:06:00.000000,80.40,18.88,79.84,166400000,...,6002.814844,83.809481,80.000000,799.991992,5.830473,5.816000,5.857575,29.601416,29.168005,29.977787
29,24083,3,24080.0,14617,2024-05-22 13:10:00.000000,2024-05-24 10:02:00.000000,NaN,18.48,85.60,169600000,...,7629.682031,20.697978,7.397535,79.795520,5.783689,5.680000,5.800000,29.488740,24.831995,30.057690
30,24084,1,NaN,14614,2024-05-25 08:55:00.000000,2024-05-27 08:35:00.000000,85.20,18.32,74.48,180000000,...,6061.865234,21.539890,4.515185,79.678009,5.808168,5.792000,5.848000,29.607681,29.407996,29.671997
31,24085,1,NaN,14615,2024-05-25 08:55:00.000000,2024-05-27 09:19:00.000000,81.60,17.92,74.96,163200000,...,80.000006,1.034692,0.176269,2.914066,11.293253,0.000000,64.863131,80.000000,80.000000,80.000000
32,24086,1,NaN,13169,2024-05-28 07:54:00.000000,2024-05-30 08:10:00.000000,80.00,16.32,81.60,173600000,...,7077.343750,21.466378,6.291314,79.906995,5.829389,5.816000,5.864000,29.591332,28.648001,29.931591
33,24087,2,24083.0,14614,2024-05-27 13:58:00.000000,2024-05-29 09:10:00.000000,NaN,20.40,74.40,149600000,...,7124.683594,18.862281,3.637029,62.839229,5.665249,5.560000,5.688000,29.575765,23.616003,30.113707
34,24088,2,24084.0,14615,2024-05-27 13:21:00.000000,2024-05-29 09:13:00.000000,NaN,16.72,74.16,171200000,...,70.428503,0.919079,0.172068,2.881946,12.352804,0.000000,64.324928,77.257143,40.000000,80.000000
35,24089,1,NaN,14616,2024-06-01 07:56:00.000000,2024-06-03 08:53:00.000000,83.20,18.32,64.80,158400000,...,5689.687891,21.217421,8.057943,81.823273,5.861186,5.848000,5.896000,29.591014,28.847998,30.234760
36,24090,1,NaN,14617,2024-06-01 07:56:00.000000,2024-06-03 08:43:00.000000,82.40,18.00,71.44,148000000,...,6453.058594,21.366782,11.406622,73.649176,5.827443,5.816000,5.864000,29.597374,29.559998,29.656006
37,24091,3,24086.0,14614,2024-05-29 12:47:00.000000,2024-05-31 09:39:00.000000,NaN,19.76,73.52,144800000,...,4049.418750,18.896352,4.405415,65.220981,5.576983,5.536000,5.664000,29.618302,27.803316,30.328003
38,24092,1,NaN,13169,2024-06-04 07:03:00.000000,2024-06-06 07:50:00.000000,82.40,14.00,85.60,195200000,...,8336.322656,22.334601,6.087512,76.601807,5.817108,5.800000,5.848000,29.598236,29.521600,29.675122
39,24093,1,NaN,13170,2024-06-04 07:03:00.000000,2024-06-06 08:06:00.000000,82.00,16.72,101.60,223200000,...,8063.736719,20.606480,3.933237,77.155298,5.879673,5.800000,5.896000,29.600565,29.553804,29.643339
40,24094,2,24088.0,14616,2024-06-03 12:23:00.000000,2024-06-05 07:14:00.000000,NaN,15.92,73.76,214400000,...,6003.708984,23.258368,6.242395,80.579431,5.840331,5.768000,5.856000,29.289812,22.592004,30.106971
41,24095,2,24089.0,14617,2024-06-03 12:34:00.000000,2024-06-05 07:18:00.000000,NaN,14.24,78.00,204800000,...,6279.212109,23.344390,7.141029,78.480955,5.805531,5.742274,5.824000,29.440725,24.448030,30.185726
42,24096,1,NaN,14615,2024-06-11 07:34:00.000000,2024-06-13 07:03:00.000000,82.40,20.80,82.40,246400000,...,77.253296,1.219209,0.107062,3.530090,9.232724,0.000000,64.521646,80.000000,80.000000,80.000000
43,24097,3,24094.0,14617,2024-06-05 15:08:00.000000,2024-06-07 09:03:00.000000,NaN,33.44,101.60,230400000,...,6971.425000,22.023715,1.856886,48.165359,5.790287,5.752000,5.800000,29.601603,29.533416,29.668781
44,24098,1,NaN,14616,2024-06-15 11:24:00.000000,2024-06-17 10:46:00.000000,82.40,22.24,87.20,240800000,...,7503.637500,675.155713,675.155713,675.155713,799.895996,799.895996,799.895996,16.284379,14.537656,17.664001
45,24099,2,24098.0,13170,2024-06-17 14:33:00.000000,2024-06-19 09:34:00.000000,80.00,19.52,78.48,165600000,...,5981.548438,23.413081,2.452766,87.201225,5.764298,5.608000,5.784000,29.398943,23.995540,30.143994
46,24100,3,24099.0,13170,2024-06-19 13:04:00.000000,2024-06-21 07:51:00.000000,80.00,20.80,84.00,216800000,...,6335.143359,24.898445,2.317004,81.685907,5.755060,5.584000,5.784000,29.668296,22.934195,32.431995
47,24101,1,NaN,13169,2024-06-29 07:58:00.000000,2024-07-01 07:46:00.000000,81.60,19.28,92.00,157600000,...,7705.736719,19.292743,5.442772,58.710443,5.721960,5.696000,5.760000,29.594550,28.776403,29.940381
48,24103,1,NaN,14615,2024-06-29 07:58:00.000000,2024-07-01 07:49:00.000000,82.40,19.04,84.80,172800000,...,60.406946,0.667334,-0.505083,4.445538,13.140819,0.000000,64.551001,80.000000,80.000000,80.000000
49,24104,1,NaN,14616,2024-07-02 08:32:00.000000,2024-07-04 08:43:00.000000,83.60,20.16,82.40,171200000,...,5900.369531,21.430425,5.946205,69.668788,5.804250,5.784000,5.848000,29.598700,29.561613,29.652533
50,24105,1,NaN,13170,2024-07-02 08:32:00.000000,2024-07-04 08:39:00.000000,83.60,19.28,84.80,173600000,...,6275.320703,20.367733,5.094840,68.748895,5.818625,5.808000,5.840000,29.600615,29.552002,29.656006
51,24106,2,24101.0,13169,2024-07-01 11:14:00.000000,2024-07-03 08:19:00.000000,80.00,23.60,84.00,163200000,...,6705.626563,22.228158,1.830585,75.622430,5.676111,5.600000,5.696000,29.491135,25.014331,29.891169
52,24107,2,24103.0,14615,2024-07-01 11:35:00.000000,2024-07-03 08:37:00.000000,80.00,21.76,87.20,151200000,...,76.851349,-0.184048,-0.970585,1.508824,12.345469,0.000000,64.643597,78.734106,20.909688,80.000000
53,24108,1,NaN,14617,2024-07-06 08:00:00.000000,2024-07-08 08:29:00.000000,84.40,20.16,81.60,159200000,...,6313.311719,20.858739,5.379145,72.744061,5.840866,5.832000,5.872000,29.618802,29.559998,29.652467
54,24109,3,24106.0,13169,2024-07-03 12:21:00.000000,2024-07-05 08:23:00.000000,80.00,23.84,94.40,196000000,...,7147.537500,21.954420,5.245782,74.155945,5.586838,5.504000,5.696000,29.398860,21.842735,29.996649
55,24110,3,24107.0,14615,2024-07-03 12:25:00.000000,2024-07-05 08:26:00.000000,80.00,26.56,104.80,157600000,...,71.776672,-0.239241,-1.047455,1.592658,16.592437,0.000000,64.595972,78.895958,24.142857,80.000000

In [49]:
# Convertimos los campos de fecha de object a datetime
df_bio_metrics_test['Fecha/hora inicio'] = pd.to_datetime(df_bio_metrics_test['Fecha/hora inicio'])
df_bio_metrics_test['Fecha/hora fin'] = pd.to_datetime(df_bio_metrics_test['Fecha/hora fin'])

# Calculamos la diferencia entre las fechas
df_bio_metrics_test['horas_totales_cultivofinal'] = (df_bio_metrics_test['Fecha/hora fin'] - df_bio_metrics_test['Fecha/hora inicio']).dt.total_seconds() / 3600

In [50]:
#CREAMOS UN DATAFRAME CON MÉTRICAS DE LAS DISTINTAS COLUMNAS DE CINÉTICOS IPC SEGÚN EL LOTE (MEDIA, MIN,...)
df_metricsIPC_test = df_cultivoIPC_02.groupby('Lote').agg({
    'Turbidez': ['mean', 'std', 'min', 'max'],
    'Viabilidad': ['mean', 'std', 'min', 'max'],
    'Glucosa': ['mean', 'std', 'min', 'max']
}).reset_index()
df_metricsIPC_test.columns = [''.join(col).strip() for col in df_metricsIPC_test.columns.values]

In [51]:
query = '''
SELECT 
    b.LOTE,
    `Orden en el encadenado` AS Orden,
    `LOTE parental` AS LOTE_parental,
    `ID Bioreactor` AS ID_Bioreactor,
    horas_totales_cultivofinal,
    `Volumen de inóculo utilizado` AS Volumen_inoculo_utilizado,
    `Turbidez inicio cultivo` AS Turbidez_inicio_cultivo,
    `Turbidez fin cultivo` AS Turbidez_fin_cultivo,
    `Viabilidad final cultivo` AS Viabilidad_final_cultivo,
    `ID Centrífuga` AS ID_Centrifuga,
    `Centrifugación 1 turbidez` AS Centrifugacion_1_turbidez,
    `Centrifugación 2 turbidez` AS Centrifugacion_2_turbidez,
    `Producto 1` AS Producto_1,
    avg_Agitation_PV AS Biorreactor_grande_avg_Agitation_PV,
    min_Agitation_PV AS Biorreactor_grande_min_Agitation_PV,
    max_Agitation_PV AS Biorreactor_grande_max_Agitation_PV,
    avg_Air_Sparge_PV AS Biorreactor_grande_avg_Air_Sparge_PV,
    min_Air_Sparge_PV AS Biorreactor_grande_min_Air_Sparge_PV,
    max_Air_Sparge_PV AS Biorreactor_grande_max_Air_Sparge_PV,
    avg_Biocontainer_Pressure_PV AS Biorreactor_grande_avg_Biocontainer_Pressure_PV,
    min_Biocontainer_Pressure_PV AS Biorreactor_grande_min_Biocontainer_Pressure_PV,
    max_Biocontainer_Pressure_PV AS Biorreactor_grande_max_Biocontainer_Pressure_PV,
    avg_DO_1_PV AS Biorreactor_grande_avg_DO_1_PV,
    min_DO_1_PV AS Biorreactor_grande_min_DO_1_PV,
    max_DO_1_PV AS Biorreactor_grande_max_DO_1_PV,
    avg_DO_2_PV AS Biorreactor_grande_avg_DO_2_PV,
    min_DO_2_PV AS Biorreactor_grande_min_DO_2_PV,
    max_DO_2_PV AS Biorreactor_grande_max_DO_2_PV,
    avg_Gas_Overlay_PV AS Biorreactor_grande_avg_Gas_Overlay_PV,
    min_Gas_Overlay_PV AS Biorreactor_grande_min_Gas_Overlay_PV,
    max_Gas_Overlay_PV AS Biorreactor_grande_max_Gas_Overlay_PV,
    avg_Load_Cell_Net_PV AS Biorreactor_grande_avg_Load_Cell_Net_PV,
    min_Load_Cell_Net_PV AS Biorreactor_grande_min_Load_Cell_Net_PV,
    max_Load_Cell_Net_PV AS Biorreactor_grande_max_Load_Cell_Net_PV,
    avg_pH_1_PV AS Biorreactor_grande_avg_pH_1_PV,
    min_pH_1_PV AS Biorreactor_grande_min_pH_1_PV,
    max_pH_1_PV AS Biorreactor_grande_max_pH_1_PV,
    avg_pH_2_PV AS Biorreactor_grande_avg_pH_2_PV,
    min_pH_2_PV AS Biorreactor_grande_min_pH_2_PV,
    max_pH_2_PV AS Biorreactor_grande_max_pH_2_PV,
    avg_PUMP_1_PV AS Biorreactor_grande_avg_PUMP_1_PV,
    min_PUMP_1_PV AS Biorreactor_grande_min_PUMP_1_PV,
    max_PUMP_1_PV AS Biorreactor_grande_max_PUMP_1_PV,
    avg_PUMP_1_TOTAL AS Biorreactor_grande_avg_PUMP_1_TOTAL,
    min_PUMP_1_TOTAL AS Biorreactor_grande_min_PUMP_1_TOTAL,
    max_PUMP_1_TOTAL AS Biorreactor_grande_max_PUMP_1_TOTAL,
    avg_PUMP_2_PV AS Biorreactor_grande_avg_PUMP_2_PV,
    min_PUMP_2_PV AS Biorreactor_grande_min_PUMP_2_PV,
    max_PUMP_2_PV AS Biorreactor_grande_max_PUMP_2_PV,
    avg_PUMP_2_TOTAL AS Biorreactor_grande_avg_PUMP_2_TOTAL,
    min_PUMP_2_TOTAL AS Biorreactor_grande_min_PUMP_2_TOTAL,
    max_PUMP_2_TOTAL AS Biorreactor_grande_max_PUMP_2_TOTAL,
    avg_Single_Use_DO_PV AS Biorreactor_grande_avg_Single_Use_DO_PV,
    min_Single_Use_DO_PV AS Biorreactor_grande_min_Single_Use_DO_PV,
    max_Single_Use_DO_PV AS Biorreactor_grande_max_Single_Use_DO_PV,
    avg_Single_Use_pH_PV AS Biorreactor_grande_avg_Single_Use_pH_PV,
    min_Single_Use_pH_PV AS Biorreactor_grande_min_Single_Use_pH_PV,
    max_Single_Use_pH_PV AS Biorreactor_grande_max_Single_Use_pH_PV,
    avg_Temperatura_PV AS Biorreactor_grande_avg_Temperatura_PV,
    min_Temperatura_PV AS Biorreactor_grande_min_Temperatura_PV,
    max_Temperatura_PV AS Biorreactor_grande_max_Temperatura_PV,
    Turbidezmean AS IPC_Cultivos_Turbidezmean,
    Turbidezstd AS IPC_Cultivos_Turbidezstd,
    Turbidezmin AS IPC_Cultivos_Turbidezmin,
    Turbidezmax AS IPC_Cultivos_Turbidezmax,
    Viabilidadmean AS IPC_Cultivos_Viabilidadmean,
    Viabilidadstd AS IPC_Cultivos_Viabilidadstd,
    Viabilidadmin AS IPC_Cultivos_Viabilidadmin,
    Viabilidadmax AS IPC_Cultivos_Viabilidadmax,
    Glucosamean AS IPC_Cultivos_Glucosamean,
    Glucosastd AS IPC_Cultivos_Glucosastd,
    Glucosamin AS IPC_Cultivos_Glucosamin,
    Glucosamax AS IPC_Cultivos_Glucosamax

FROM 
    df_bio_metrics_test b
LEFT JOIN 
    df_metricsIPC_test m
ON 
    b."LOTE" = m."Lote"
'''

# Ejecutar la consulta
df_cultivo_metrics_test = psql.sqldf(query, locals())

display(df_cultivo_metrics_test)

,LOTE,Orden,LOTE_parental,ID_Bioreactor,horas_totales_cultivofinal,Volumen_inoculo_utilizado,Turbidez_inicio_cultivo,Turbidez_fin_cultivo,Viabilidad_final_cultivo,ID_Centrifuga,...,IPC_Cultivos_Turbidezmin,IPC_Cultivos_Turbidezmax,IPC_Cultivos_Viabilidadmean,IPC_Cultivos_Viabilidadstd,IPC_Cultivos_Viabilidadmin,IPC_Cultivos_Viabilidadmax,IPC_Cultivos_Glucosamean,IPC_Cultivos_Glucosastd,IPC_Cultivos_Glucosamin,IPC_Cultivos_Glucosamax
0,24054,1,NaN,14616,47.266667,81.60,15.44,85.60,184800000,14246,...,15.44,85.60,1.019991e+08,9.012933e+07,5.997333e+06,1.848000e+08,1.216000,0.699440,0.480,1.872
1,24055,1,NaN,14614,48.200000,NaN,14.32,73.68,175200000,12912,...,14.32,73.68,1.192516e+08,9.598512e+07,8.421333e+06,1.754667e+08,1.096000,0.575389,0.744,1.760
2,24056,1,NaN,14615,47.950000,NaN,14.56,82.40,168000000,14246,...,14.56,82.40,1.189058e+08,9.682924e+07,7.384000e+06,1.816000e+08,1.034667,0.733925,0.560,1.880
3,24057,1,NaN,13170,47.483333,82.40,17.76,78.96,180800000,12912,...,17.76,78.96,9.592444e+07,8.712786e+07,6.706667e+06,1.808000e+08,1.272000,0.589997,0.712,1.888
4,24058,2,24055.0,14614,43.766667,87.20,18.00,82.40,144800000,12912,...,18.00,82.40,1.006267e+08,6.660916e+07,1.264000e+07,1.592000e+08,1.046000,0.441446,0.672,1.640
5,24059,2,24056.0,14615,43.916667,87.20,18.08,78.40,166400000,14246,...,18.08,78.40,1.131993e+08,7.652614e+07,1.279733e+07,1.786667e+08,1.102000,0.342438,0.776,1.472
6,24060,1,NaN,13169,47.883333,82.40,25.92,76.32,161600000,14246,...,25.92,76.32,1.316875e+08,7.156721e+07,8.037333e+06,1.794667e+08,0.824000,0.512281,0.336,1.688
7,24061,1,NaN,14617,47.800000,81.60,28.56,68.96,148800000,12912,...,28.56,68.96,1.221872e+08,6.993458e+07,5.602667e+06,1.762667e+08,1.098000,0.416685,0.744,1.696
8,24062,3,24058.0,14614,44.000000,87.20,18.88,80.00,164800000,12912,...,18.88,84.00,8.998222e+07,6.026312e+07,1.258667e+07,1.650667e+08,1.229333,0.499055,0.536,1.760
9,24063,1,NaN,13170,48.650000,NaN,15.52,68.72,180800000,12912,...,15.52,68.72,1.137691e+08,7.266724e+07,3.032000e+06,1.808000e+08,1.544000,0.383583,1.104,1.808
10,24064,1,NaN,14616,48.666667,NaN,18.56,63.76,174400000,14246,...,18.56,63.76,1.114992e+08,7.006109e+07,3.176000e+06,1.746667e+08,1.505600,0.358191,1.128,1.888
11,24065,2,24060.0,13169,44.266667,80.00,18.48,77.60,209600000,14246,...,18.48,79.84,1.449403e+08,9.534094e+07,8.168000e+06,2.232000e+08,1.409600,0.911849,0.760,2.824
12,24066,2,24061.0,14617,44.166667,80.00,19.60,77.44,118400000,12912,...,19.60,77.44,8.987733e+07,4.517064e+07,1.538667e+07,1.274667e+08,2.302400,0.578284,1.400,3.016
13,24067,1,NaN,14615,46.933333,82.96,16.96,76.88,177600000,17825,...,16.96,76.88,1.185058e+08,9.595052e+07,7.784000e+06,1.773333e+08,1.237333,0.584402,0.888,1.912
14,24068,3,24065.0,13169,41.616667,80.00,21.20,80.00,173600000,14246,...,21.20,84.00,1.091810e+08,6.015839e+07,1.952000e+07,1.810667e+08,0.328000,0.176484,0.224,0.592
15,24069,3,24066.0,14617,45.650000,80.00,19.92,64.40,160000000,12912,...,19.92,64.40,8.716333e+07,5.431753e+07,1.416000e+07,1.597333e+08,2.982857,0.318276,2.472,3.296
16,24070,1,NaN,13170,47.066667,82.96,16.40,81.60,168000000,14246,...,16.40,82.40,1.160116e+08,9.493018e+07,6.434667e+06,1.733333e+08,0.780000,0.039598,0.752,0.808
17,24071,1,NaN,13170,47.066667,82.96,16.40,81.60,168000000,14246,...,16.16,85.60,1.334347e+08,1.111635e+08,5.104000e+06,2.000000e+08,1.114667,0.759803,0.672,1.992
18,24072,1,NaN,14617,45.616667,80.40,16.16,84.80,195200000,12912,...,18.48,78.40,1.187849e+08,9.803267e+07,7.288000e+06,1.914667e+08,1.384000,0.589020,0.816,1.992
19,24073,1,NaN,13170,46.533333,83.20,18.48,78.40,191200000,14246,...,18.72,71.36,1.405213e+08,9.042902e+07,6.885333e+06,1.973333e+08,1.356000,0.547187,0.952,2.120
20,24074,1,NaN,14615,47.333333,83.60,18.72,71.36,197600000,17825,...,15.28,80.80,1.170782e+08,9.550928e+07,7.234667e+06,1.805333e+08,1.085333,0.614925,0.672,1.792
21,24075,1,NaN,14614,47.783333,82.40,15.76,76.16,163200000,14246,...,17.12,75.52,1.158969e+08,9.483655e+07,6.890667e+06,1.794667e+08,1.325333,0.548822,0.760,1.856
22,24076,1,NaN,14617,46.416667,83.20,17.12,75.52,179200000,12912,...,16.24,81.60,1.290356e+08,1.063785e+08,7.373333e+06,2.045333e+08,1.026667,0.517553,0.712,1.624
23,24077,1,NaN,14617,47.750000,82.00,16.24,81.60,204800000,12912,...,18.00,86.40,1.360167e+08,8.631430e+07,6.733333e+06,1.824000e+08,0.966000,0.714718,0.376,1.928
24,24078,1,NaN,13169,48.216667,82.00,18.00,85.60,172800000,17825,...,17.68,76.40,1.273180e+08,8.152441e+07,7.405333e+06,1.829333e+08,1.118000,0.617863,0.632,1.936
25,24079,1,NaN,14615,48.183333,81.20,17.68,75.12,173600000,14246,...,18.72,88.80,1.183600e+08,8.025475e+07,1.157333e+07,2.061333e+08,1.152000,0.501433,0.672,1.768
26,24080,2,24074.0,14614,45.050000,NaN,18.72,88.80,124000000,14246,...,19.44,81.60,1.385067e+08,9.650066e+07,1.280000e+07,2.685333e+08,1.016000,0.401278,0.576,1.552
27,24081,2,24076.0,14617,45.200000,NaN,19.44,80.00,90400000,17825,...,18.88,79.84,1.050587e+08,8.689675e+07,5.576000e+06,1.661333e+08,1.376000,0.676036,0.704,2.056
28,24082,1,NaN,13170,47.200000,80.40,18.88,79.84,166400000,14246,...,18.48,85.60,1.133033e+08,7.257719e+07,1.760000e+07,1.834667e+08,1.172000,0.622445,0.480,1.920
29,24083,3,24080.0,14617,44.866667,NaN,18.48,85.60,169600000,14246,...,18.32,74.48,1.208356e+08,9.765895e+07,8.106667e+06,1.797333e+08,0.837333,0.736797,0.400,1.688
30,24084,1,NaN,14614,47.666667,85.20,18.32,74.48,180000000,17825,...,17.92,74.96,1.155689e+08,9.332451e+07,8.040000e+06,1.754667e+08,1.333333,0.625963,0.960,2.056
31,24085,1,NaN,14615,48.400000,81.60,17.92,74.96,163200000,14246,...,16.32,81.60,1.127433e+08,7.428396e+07,6.440000e+06,1.733333e+08,1.058000,0.664670,0.496,1.904
32,24086,1,NaN,13169,48.266667,80.00,16.32,81.60,173600000,17825,...,20.40,75.04,1.155893e+08,6.092616e+07,1.901333e+07,1.626667e+08,1.211200,0.315600,0.936,1.664
33,24087,2,24083.0,14614,43.200000,NaN,20.40,74.40,149600000,12912,...,16.72,74.16,1.302293e+08,6.763081e+07,2.208000e+07,1.832000e+08,1.240000,0.449248,0.824,1.944
34,24088,2,24084.0,14615,43.866667,NaN,16.72,74.16,171200000,14246,...,18.32,65.52,1.132702e+08,9.333813e+07,5.944000e+06,1.754667e+08,1.208000,0.471186,0.928,1.752
35,24089,1,NaN,14616,48.950000,83.20,18.32,64.80,158400000,12912,...,18.00,71.44,1.036436e+08,8.551482e+07,5.064000e+06,1.578667e+08,1.325333,0.666325,0.856,2.088
36,24090,1,NaN,14617,48.783333,82.40,18.00,71.44,148000000,14246,...,19.76,73.52,9.264800e+07,4.983976e+07,1.986667e+07,1.469333e+08,1.455111,0.424386,0.880,1.976
37,24091,3,24086.0,14614,44.866667,NaN,19.76,73.52,144800000,12912,...,14.00,86.40,1.521253e+08,9.928660e+07,5.301333e+06,2.237333e+08,1.256000,0.704939,0.648,2.104
38,24092,1,NaN,13169,48.783333,82.40,14.00,85.60,195200000,12912,...,16.72,101.60,1.548040e+08,1.030417e+08,5.082667e+06,2.234667e+08,1.200000,0.729449,0.520,2.080
39,24093,1,NaN,13170,49.050000,82.00,16.72,101.60,223200000,17825,...,15.92,75.52,1.503533e+08,1.052758e+08,9.680000e+06,2.453333e+08,1.290000,0.526032,0.832,1.904
40,24094,2,24088.0,14616,42.850000,NaN,15.92,73.76,214400000,12912,...,14.24,79.36,1.437000e+08,9.757998e+07,1.213333e+07,2.293333e+08,1.538667,0.493694,0.992,1.952
41,24095,2,24089.0,14617,42.733333,NaN,14.24,78.00,204800000,14246,...,20.80,82.40,1.499600e+08,1.274927e+08,5.346667e+06,2.461333e+08,1.349333,0.534645,0.848,1.912
42,24096,1,NaN,14615,47.483333,82.40,20.80,82.40,246400000,17825,...,33.44,101.60,1.902700e+08,7.009292e+07,7.709333e+07,2.562667e+08,1.047000,0.572887,0.408,1.744
43,24097,3,24094.0,14617,41.916667,NaN,33.44,101.60,230400000,14246,...,22.24,87.20,1.482898e+08,1.253191e+08,5.669333e+06,2.408000e+08,1.309333,0.608281,0.712,1.928
44,24098,1,NaN,14616,47.366667,82.40,22.24,87.20,240800000,12912,...,19.60,62.40,1.009693e+08,6.655224e+07,1.744000e+06,1.397333e+08,1.618000,0.198810,1.440,1.896
45,24099,2,24098.0,13170,43.016667,80.00,19.52,78.48,165600000,12912,...,19.52,78.48,1.120016e+08,6.978388e+07,8.248000e+06,1.653333e+08,1.180800,0.424287,0.824,1.824
46,24100,3,24099.0,13170,42.783333,80.00,20.80,84.00,216800000,12912,...,20.80,88.80,1.064711e+08,8.651392e+07,1.442667e+07,2.234667e+08,1.432889,0.630789,0.512,2.016
47,24101,1,NaN,13169,47.800000,81.60,19.28,92.00,157600000,12912,...,19.28,92.80,1.128756e+08,9.237300e+07,6.626667e+06,1.741333e+08,0.517333,0.381184,0.240,0.952
48,24103,1,NaN,14615,47.850000,82.40,19.04,84.80,172800000,14246,...,19.04,89.60,1.148738e+08,9.575730e+07,4.354667e+06,1.730667e+08,1.029333,0.759003,0.544,1.904
49,24104,1,NaN,14616,48.183333,83.60,20.16,82.40,171200000,14246,...,20.16,82.40,1.034947e+08,7.909725e+07,4.112000e+06,1.714667e+08,1.276000,0.470551,0.816,1.792
50,24105,1,NaN,13170,48.116667,83.60,19.28,84.80,173600000,17825,...,19.28,85.60,1.098873e+08,8.021561e+07,3.816000e+06,1.738667e+08,1.228000,0.484182,0.784,1.768
51,24106,2,24101.0,13169,45.083333,80.00,23.60,84.00,163200000,12912,...,23.60,84.00,1.010267e+08,7.127738e+07,1.002667e+07,1.634667e+08,1.156000,0.644997,0.560,1.944
52,24107,2,24103.0,14615,45.033333,80.00,21.76,87.20,151200000,14246,...,21.76,88.00,1.023267e+08,7.927478e+07,1.042667e+07,1.832000e+08,1.070000,0.568671,0.584,1.816
53,24108,1,NaN,14617,48.483333,84.40,20.16,81.60,159200000,14246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,24109,3,24106.0,13169,44.033333,80.00,23.84,94.40,196000000,12912,...,23.84,94.40,1.003585e+08,7.352995e+07,1.426667e+07,1.962667e+08,1.280000,0.611464,0.440,1.952
55,24110,3,24107.0,14615,44.016667,80.00,26.56,104.80,157600000,14246,...,26.56,104.80,8.701037e+07,5.780300e+07,1.080000e+07,1.573333e+08,1.291556,0.570489,0.520,1.864

In [54]:
# Consulta SQL para añadir la columna 'lote_abuelo'
query = """
    SELECT df.*, 
           CASE 
               WHEN Orden = 3 THEN (
                   SELECT LOTE_parental
                   FROM df_cultivo_metrics_test AS parent
                   WHERE parent.lote = df.LOTE_parental
               )
               ELSE NULL
           END AS lote_abuelo
    FROM df_cultivo_metrics_test df
"""

# Ejecutar la consulta
df_cultivo_test_03 = psql.sqldf(query, locals())

# Mostrar el resultado
display(df_cultivo_test_03)

,LOTE,Orden,LOTE_parental,ID_Bioreactor,horas_totales_cultivofinal,Volumen_inoculo_utilizado,Turbidez_inicio_cultivo,Turbidez_fin_cultivo,Viabilidad_final_cultivo,ID_Centrifuga,...,IPC_Cultivos_Turbidezmax,IPC_Cultivos_Viabilidadmean,IPC_Cultivos_Viabilidadstd,IPC_Cultivos_Viabilidadmin,IPC_Cultivos_Viabilidadmax,IPC_Cultivos_Glucosamean,IPC_Cultivos_Glucosastd,IPC_Cultivos_Glucosamin,IPC_Cultivos_Glucosamax,lote_abuelo
0,24054,1,NaN,14616,47.266667,81.60,15.44,85.60,184800000,14246,...,85.60,1.019991e+08,9.012933e+07,5.997333e+06,1.848000e+08,1.216000,0.699440,0.480,1.872,NaN
1,24055,1,NaN,14614,48.200000,NaN,14.32,73.68,175200000,12912,...,73.68,1.192516e+08,9.598512e+07,8.421333e+06,1.754667e+08,1.096000,0.575389,0.744,1.760,NaN
2,24056,1,NaN,14615,47.950000,NaN,14.56,82.40,168000000,14246,...,82.40,1.189058e+08,9.682924e+07,7.384000e+06,1.816000e+08,1.034667,0.733925,0.560,1.880,NaN
3,24057,1,NaN,13170,47.483333,82.40,17.76,78.96,180800000,12912,...,78.96,9.592444e+07,8.712786e+07,6.706667e+06,1.808000e+08,1.272000,0.589997,0.712,1.888,NaN
4,24058,2,24055.0,14614,43.766667,87.20,18.00,82.40,144800000,12912,...,82.40,1.006267e+08,6.660916e+07,1.264000e+07,1.592000e+08,1.046000,0.441446,0.672,1.640,NaN
5,24059,2,24056.0,14615,43.916667,87.20,18.08,78.40,166400000,14246,...,78.40,1.131993e+08,7.652614e+07,1.279733e+07,1.786667e+08,1.102000,0.342438,0.776,1.472,NaN
6,24060,1,NaN,13169,47.883333,82.40,25.92,76.32,161600000,14246,...,76.32,1.316875e+08,7.156721e+07,8.037333e+06,1.794667e+08,0.824000,0.512281,0.336,1.688,NaN
7,24061,1,NaN,14617,47.800000,81.60,28.56,68.96,148800000,12912,...,68.96,1.221872e+08,6.993458e+07,5.602667e+06,1.762667e+08,1.098000,0.416685,0.744,1.696,NaN
8,24062,3,24058.0,14614,44.000000,87.20,18.88,80.00,164800000,12912,...,84.00,8.998222e+07,6.026312e+07,1.258667e+07,1.650667e+08,1.229333,0.499055,0.536,1.760,24055.0
9,24063,1,NaN,13170,48.650000,NaN,15.52,68.72,180800000,12912,...,68.72,1.137691e+08,7.266724e+07,3.032000e+06,1.808000e+08,1.544000,0.383583,1.104,1.808,NaN
10,24064,1,NaN,14616,48.666667,NaN,18.56,63.76,174400000,14246,...,63.76,1.114992e+08,7.006109e+07,3.176000e+06,1.746667e+08,1.505600,0.358191,1.128,1.888,NaN
11,24065,2,24060.0,13169,44.266667,80.00,18.48,77.60,209600000,14246,...,79.84,1.449403e+08,9.534094e+07,8.168000e+06,2.232000e+08,1.409600,0.911849,0.760,2.824,NaN
12,24066,2,24061.0,14617,44.166667,80.00,19.60,77.44,118400000,12912,...,77.44,8.987733e+07,4.517064e+07,1.538667e+07,1.274667e+08,2.302400,0.578284,1.400,3.016,NaN
13,24067,1,NaN,14615,46.933333,82.96,16.96,76.88,177600000,17825,...,76.88,1.185058e+08,9.595052e+07,7.784000e+06,1.773333e+08,1.237333,0.584402,0.888,1.912,NaN
14,24068,3,24065.0,13169,41.616667,80.00,21.20,80.00,173600000,14246,...,84.00,1.091810e+08,6.015839e+07,1.952000e+07,1.810667e+08,0.328000,0.176484,0.224,0.592,24060.0
15,24069,3,24066.0,14617,45.650000,80.00,19.92,64.40,160000000,12912,...,64.40,8.716333e+07,5.431753e+07,1.416000e+07,1.597333e+08,2.982857,0.318276,2.472,3.296,24061.0
16,24070,1,NaN,13170,47.066667,82.96,16.40,81.60,168000000,14246,...,82.40,1.160116e+08,9.493018e+07,6.434667e+06,1.733333e+08,0.780000,0.039598,0.752,0.808,NaN
17,24071,1,NaN,13170,47.066667,82.96,16.40,81.60,168000000,14246,...,85.60,1.334347e+08,1.111635e+08,5.104000e+06,2.000000e+08,1.114667,0.759803,0.672,1.992,NaN
18,24072,1,NaN,14617,45.616667,80.40,16.16,84.80,195200000,12912,...,78.40,1.187849e+08,9.803267e+07,7.288000e+06,1.914667e+08,1.384000,0.589020,0.816,1.992,NaN
19,24073,1,NaN,13170,46.533333,83.20,18.48,78.40,191200000,14246,...,71.36,1.405213e+08,9.042902e+07,6.885333e+06,1.973333e+08,1.356000,0.547187,0.952,2.120,NaN
20,24074,1,NaN,14615,47.333333,83.60,18.72,71.36,197600000,17825,...,80.80,1.170782e+08,9.550928e+07,7.234667e+06,1.805333e+08,1.085333,0.614925,0.672,1.792,NaN
21,24075,1,NaN,14614,47.783333,82.40,15.76,76.16,163200000,14246,...,75.52,1.158969e+08,9.483655e+07,6.890667e+06,1.794667e+08,1.325333,0.548822,0.760,1.856,NaN
22,24076,1,NaN,14617,46.416667,83.20,17.12,75.52,179200000,12912,...,81.60,1.290356e+08,1.063785e+08,7.373333e+06,2.045333e+08,1.026667,0.517553,0.712,1.624,NaN
23,24077,1,NaN,14617,47.750000,82.00,16.24,81.60,204800000,12912,...,86.40,1.360167e+08,8.631430e+07,6.733333e+06,1.824000e+08,0.966000,0.714718,0.376,1.928,NaN
24,24078,1,NaN,13169,48.216667,82.00,18.00,85.60,172800000,17825,...,76.40,1.273180e+08,8.152441e+07,7.405333e+06,1.829333e+08,1.118000,0.617863,0.632,1.936,NaN
25,24079,1,NaN,14615,48.183333,81.20,17.68,75.12,173600000,14246,...,88.80,1.183600e+08,8.025475e+07,1.157333e+07,2.061333e+08,1.152000,0.501433,0.672,1.768,NaN
26,24080,2,24074.0,14614,45.050000,NaN,18.72,88.80,124000000,14246,...,81.60,1.385067e+08,9.650066e+07,1.280000e+07,2.685333e+08,1.016000,0.401278,0.576,1.552,NaN
27,24081,2,24076.0,14617,45.200000,NaN,19.44,80.00,90400000,17825,...,79.84,1.050587e+08,8.689675e+07,5.576000e+06,1.661333e+08,1.376000,0.676036,0.704,2.056,NaN
28,24082,1,NaN,13170,47.200000,80.40,18.88,79.84,166400000,14246,...,85.60,1.133033e+08,7.257719e+07,1.760000e+07,1.834667e+08,1.172000,0.622445,0.480,1.920,NaN
29,24083,3,24080.0,14617,44.866667,NaN,18.48,85.60,169600000,14246,...,74.48,1.208356e+08,9.765895e+07,8.106667e+06,1.797333e+08,0.837333,0.736797,0.400,1.688,24074.0
30,24084,1,NaN,14614,47.666667,85.20,18.32,74.48,180000000,17825,...,74.96,1.155689e+08,9.332451e+07,8.040000e+06,1.754667e+08,1.333333,0.625963,0.960,2.056,NaN
31,24085,1,NaN,14615,48.400000,81.60,17.92,74.96,163200000,14246,...,81.60,1.127433e+08,7.428396e+07,6.440000e+06,1.733333e+08,1.058000,0.664670,0.496,1.904,NaN
32,24086,1,NaN,13169,48.266667,80.00,16.32,81.60,173600000,17825,...,75.04,1.155893e+08,6.092616e+07,1.901333e+07,1.626667e+08,1.211200,0.315600,0.936,1.664,NaN
33,24087,2,24083.0,14614,43.200000,NaN,20.40,74.40,149600000,12912,...,74.16,1.302293e+08,6.763081e+07,2.208000e+07,1.832000e+08,1.240000,0.449248,0.824,1.944,NaN
34,24088,2,24084.0,14615,43.866667,NaN,16.72,74.16,171200000,14246,...,65.52,1.132702e+08,9.333813e+07,5.944000e+06,1.754667e+08,1.208000,0.471186,0.928,1.752,NaN
35,24089,1,NaN,14616,48.950000,83.20,18.32,64.80,158400000,12912,...,71.44,1.036436e+08,8.551482e+07,5.064000e+06,1.578667e+08,1.325333,0.666325,0.856,2.088,NaN
36,24090,1,NaN,14617,48.783333,82.40,18.00,71.44,148000000,14246,...,73.52,9.264800e+07,4.983976e+07,1.986667e+07,1.469333e+08,1.455111,0.424386,0.880,1.976,NaN
37,24091,3,24086.0,14614,44.866667,NaN,19.76,73.52,144800000,12912,...,86.40,1.521253e+08,9.928660e+07,5.301333e+06,2.237333e+08,1.256000,0.704939,0.648,2.104,NaN
38,24092,1,NaN,13169,48.783333,82.40,14.00,85.60,195200000,12912,...,101.60,1.548040e+08,1.030417e+08,5.082667e+06,2.234667e+08,1.200000,0.729449,0.520,2.080,NaN
39,24093,1,NaN,13170,49.050000,82.00,16.72,101.60,223200000,17825,...,75.52,1.503533e+08,1.052758e+08,9.680000e+06,2.453333e+08,1.290000,0.526032,0.832,1.904,NaN
40,24094,2,24088.0,14616,42.850000,NaN,15.92,73.76,214400000,12912,...,79.36,1.437000e+08,9.757998e+07,1.213333e+07,2.293333e+08,1.538667,0.493694,0.992,1.952,NaN
41,24095,2,24089.0,14617,42.733333,NaN,14.24,78.00,204800000,14246,...,82.40,1.499600e+08,1.274927e+08,5.346667e+06,2.461333e+08,1.349333,0.534645,0.848,1.912,NaN
42,24096,1,NaN,14615,47.483333,82.40,20.80,82.40,246400000,17825,...,101.60,1.902700e+08,7.009292e+07,7.709333e+07,2.562667e+08,1.047000,0.572887,0.408,1.744,NaN
43,24097,3,24094.0,14617,41.916667,NaN,33.44,101.60,230400000,14246,...,87.20,1.482898e+08,1.253191e+08,5.669333e+06,2.408000e+08,1.309333,0.608281,0.712,1.928,24088.0
44,24098,1,NaN,14616,47.366667,82.40,22.24,87.20,240800000,12912,...,62.40,1.009693e+08,6.655224e+07,1.744000e+06,1.397333e+08,1.618000,0.198810,1.440,1.896,NaN
45,24099,2,24098.0,13170,43.016667,80.00,19.52,78.48,165600000,12912,...,78.48,1.120016e+08,6.978388e+07,8.248000e+06,1.653333e+08,1.180800,0.424287,0.824,1.824,NaN
46,24100,3,24099.0,13170,42.783333,80.00,20.80,84.00,216800000,12912,...,88.80,1.064711e+08,8.651392e+07,1.442667e+07,2.234667e+08,1.432889,0.630789,0.512,2.016,24098.0
47,24101,1,NaN,13169,47.800000,81.60,19.28,92.00,157600000,12912,...,92.80,1.128756e+08,9.237300e+07,6.626667e+06,1.741333e+08,0.517333,0.381184,0.240,0.952,NaN
48,24103,1,NaN,14615,47.850000,82.40,19.04,84.80,172800000,14246,...,89.60,1.148738e+08,9.575730e+07,4.354667e+06,1.730667e+08,1.029333,0.759003,0.544,1.904,NaN
49,24104,1,NaN,14616,48.183333,83.60,20.16,82.40,171200000,14246,...,82.40,1.034947e+08,7.909725e+07,4.112000e+06,1.714667e+08,1.276000,0.470551,0.816,1.792,NaN
50,24105,1,NaN,13170,48.116667,83.60,19.28,84.80,173600000,17825,...,85.60,1.098873e+08,8.021561e+07,3.816000e+06,1.738667e+08,1.228000,0.484182,0.784,1.768,NaN
51,24106,2,24101.0,13169,45.083333,80.00,23.60,84.00,163200000,12912,...,84.00,1.010267e+08,7.127738e+07,1.002667e+07,1.634667e+08,1.156000,0.644997,0.560,1.944,NaN
52,24107,2,24103.0,14615,45.033333,80.00,21.76,87.20,151200000,14246,...,88.00,1.023267e+08,7.927478e+07,1.042667e+07,1.832000e+08,1.070000,0.568671,0.584,1.816,NaN
53,24108,1,NaN,14617,48.483333,84.40,20.16,81.60,159200000,14246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,24109,3,24106.0,13169,44.033333,80.00,23.84,94.40,196000000,12912,...,94.40,1.003585e+08,7.352995e+07,1.426667e+07,1.962667e+08,1.280000,0.611464,0.440,1.952,24101.0
55,24110,3,24107.0,14615,44.016667,80.00,26.56,104.80,157600000,14246,...,104.80,8.701037e+07,5.780300e+07,1.080000e+07,1.573333e+08,1.291556,0.570489,0.520,1.864,24103.0

In [55]:
df_cultivo_test_03.to_excel(f'{path_structured}cultivo_final_test_total.xlsx', index=False)

## 3.5 CENTRIFUGACIÓN

### Notas sobre los resultados las tablas creadas

- No hay datos sobre el Lote 0 en la tabla *CineticosIPC_Centrifugacion.xlsx*

In [5]:
# Leemos los archivos Excel y guardamos el contenido en un DataFrame
path_cent_02 = path_cleansed + 'Centrifugacion.xlsx'
path_OF_02 = path_cleansed + 'OF_123456.xlsx'
path_centrifugadoras_02 = path_cleansed + 'centrifugadoras.xlsx'
path_centIPC_02 = path_cleansed + 'CineticosIPC_Centrifugacion.xlsx'

df_cent_02 = pd.read_excel(path_cent_02)
df_OF_02 = pd.read_excel(path_OF_02)
df_centrifugadoras_02 = pd.read_excel(path_centrifugadoras_02)
df_centIPC_02 = pd.read_excel(path_centIPC_02)

In [6]:
# Pivotamos la tabla Centrifugacion usando 'Orden' como clave para reorganizar las operaciones y sus correspondientes valores de 'DATETIME'
df_pivoted_cent= df_cent_02.pivot_table(index=['Orden', 'EQUIPO'], columns='Operación', values='DATETIME', aggfunc='first').reset_index()
display(df_pivoted_cent)

Operación,Orden,EQUIPO,Centrifugació 1 fi,Centrifugació 1 ini,Centrifugació 2 fi,Centrifugació 2 ini
0,10005144,14246,2023-05-26 15:26:57,2023-05-26 13:45:41,2023-05-26 18:18:12,2023-05-26 16:56:30
1,10005176,14246,2023-07-07 15:06:24,2023-07-07 11:53:24,2023-07-07 17:58:02,2023-07-07 16:15:02
2,10005183,14246,2023-09-08 16:18:56,2023-09-08 12:48:53,2023-09-08 18:47:19,2023-09-08 17:11:03
3,10005223,17825,2023-11-16 11:46:55,2023-11-16 08:38:56,2023-11-16 14:05:13,2023-11-16 12:36:47
4,10005233,14246,2023-11-23 12:01:12,2023-11-23 08:29:16,2023-11-23 14:24:31,2023-11-23 12:48:13
...,...,...,...,...,...,...
242,200209984,14246,2024-07-29 10:32:08,2024-07-29 07:14:41,2024-07-29 13:02:55,2024-07-29 11:21:19
243,200209985,17825,2024-07-31 11:05:43,2024-07-31 07:26:37,2024-07-31 13:36:41,2024-07-31 11:56:32
244,200210971,17825,2024-07-24 10:29:42,2024-07-24 06:47:07,2024-07-24 13:01:55,2024-07-24 11:18:34
245,200211467,17825,2024-08-01 10:46:06,2024-08-01 07:03:58,2024-08-01 13:13:04,2024-08-01 11:33:41
246,200211469,14246,2024-07-31 10:59:05,2024-07-31 07:22:42,2024-07-31 13:25:11,2024-07-31 11:49:31

In [7]:
# Gracias al LEFT JOIN sólo nos quedamos con los lotes que aparecen en la tabla 0F_123456 (no hay que tenerlos en cuenta)
consulta = """
    SELECT 
    Lote,
    EQUIPO AS ID_centrifuga,
    `Centrifugació 1 ini` AS Inicio_Centrifugacion_1,
    `Centrifugació 1 fi` AS Fin_Centrifugacion_1,
    `Centrifugació 2 ini` AS Inicio_Centrifugacion_2,
    `Centrifugació 2 fi` AS Fin_Centrifugacion_2


    FROM df_OF_02 OF 
    LEFT JOIN df_pivoted_cent cent
    ON OF.OF = cent.Orden
    """

# Ejecutamos la consulta y generamos un dataframe
df_OF_cent = psql.sqldf(consulta, locals())
display(df_OF_cent)

,Lote,ID_centrifuga,Inicio_Centrifugacion_1,Fin_Centrifugacion_1,Inicio_Centrifugacion_2,Fin_Centrifugacion_2
0,23019,17825.0,2023-03-23 07:53:57,2023-03-23 10:29:43,2023-03-23 12:13:20,2023-03-23 13:03:38
1,23020,14246.0,2023-03-23 08:00:49,2023-03-23 10:26:25,2023-03-23 12:11:04,2023-03-23 13:34:10
2,23021,17825.0,2023-03-24 08:31:15,2023-03-24 11:53:41,2023-03-24 13:13:11,2023-03-24 14:30:45
3,23022,12912.0,2023-03-24 08:11:53,2023-03-24 11:32:53,2023-03-24 13:09:42,2023-03-24 14:29:39
4,23023,17825.0,2023-03-30 09:29:25,2023-03-30 12:26:49,2023-03-30 13:32:39,2023-03-30 14:52:53
...,...,...,...,...,...,...
202,24108,14246.0,2024-07-08 08:09:55,2024-07-08 11:07:41,2024-07-08 11:49:51,2024-07-08 13:32:56
203,24106,12912.0,2024-07-03 07:43:09,2024-07-03 11:00:11,2024-07-03 11:49:07,2024-07-03 13:19:16
204,24107,14246.0,2024-07-03 07:50:38,2024-07-03 11:08:40,2024-07-03 11:59:14,2024-07-03 13:33:24
205,24109,12912.0,2024-07-05 07:43:06,2024-07-05 11:13:40,2024-07-05 12:01:21,2024-07-05 13:43:20
206,24110,14246.0,2024-07-05 07:42:06,2024-07-05 11:23:24,2024-07-05 12:10:31,2024-07-05 13:52:02

In [11]:
# Calculamos -por lote- la media, el valor mínimo y el máximo de cada medida de la tabla CineticosIPC_Centrifugacion 
# en cada intervalo de tiempo de ambas centrifugaciones
consulta = '''
    SELECT
        OFc.Lote,
        ID_centrifuga,

        -- Métricas centrifugación 1 --

        Inicio_Centrifugacion_1,
        Fin_Centrifugacion_1,

        AVG(cd1.velocidad_separación) AS avg_velocidad_sep_1,
        MIN(cd1.velocidad_separación) AS min_velocidad_sep_1,
        MAX(cd1.velocidad_separación) AS max_velocidad_sep_1,

        AVG(cd1.presion_agua) AS avg_presion_agua_1,
        MIN(cd1.presion_agua) AS min_presion_agua_1,
        MAX(cd1.presion_agua) AS max_presion_agua_1,
        
        AVG(cd1.contrapresion) AS avg_contrapresion_1,
        MIN(cd1.contrapresion) AS min_contrapresion_1,
        MAX(cd1.contrapresion) AS max_contrapresion_1,

        AVG(cd1.caudal) AS avg_caudal_1,
        MIN(cd1.caudal) AS min_caudal_1,
        MAX(cd1.caudal) AS max_caudal_1,

        AVG(cd1.apertura_valvula_agua) AS avg_apertura_valvula_agua_1,
        MIN(cd1.apertura_valvula_agua) AS min_apertura_valvula_agua_1,
        MAX(cd1.apertura_valvula_agua) AS max_apertura_valvula_agua_1,

        AVG(cd1.descargas_totales) AS avg_descargas_totales_1,
        MIN(cd1.descargas_totales) AS min_descargas_totales_1,
        MAX(cd1.descargas_totales) AS max_descargas_totales_1,

        AVG(cd1.`descargas parciales`) AS avg_descargas_parciales_1,
        MIN(cd1.`descargas parciales`) AS min_descargas_parciales_1,
        MAX(cd1.`descargas parciales`) AS max_descargas_parciales_1,

        -- Métricas centrifugación 2 --

        Inicio_Centrifugacion_2,
        Fin_Centrifugacion_2,

        AVG(cd2.velocidad_separación) AS avg_velocidad_sep_2,
        MIN(cd2.velocidad_separación) AS min_velocidad_sep_2,
        MAX(cd2.velocidad_separación) AS max_velocidad_sep_2,

        AVG(cd2.presion_agua) AS avg_presion_agua_2,
        MIN(cd2.presion_agua) AS min_presion_agua_2,
        MAX(cd2.presion_agua) AS max_presion_agua_2,
        
        AVG(cd2.contrapresion) AS avg_contrapresion_2,
        MIN(cd2.contrapresion) AS min_contrapresion_2,
        MAX(cd2.contrapresion) AS max_contrapresion_2,

        AVG(cd2.caudal) AS avg_caudal_2,
        MIN(cd2.caudal) AS min_caudal_2,
        MAX(cd2.caudal) AS max_caudal_2,

        AVG(cd2.apertura_valvula_agua) AS avg_apertura_valvula_agua_2,
        MIN(cd2.apertura_valvula_agua) AS min_apertura_valvula_agua_2,
        MAX(cd2.apertura_valvula_agua) AS max_apertura_valvula_agua_2,

        AVG(cd2.descargas_totales) AS avg_descargas_totales_2,
        MIN(cd2.descargas_totales) AS min_descargas_totales_2,
        MAX(cd2.descargas_totales) AS max_descargas_totales_2,

        AVG(cd2.`descargas parciales`) AS avg_descargas_parciales_2,
        MIN(cd2.`descargas parciales`) AS min_descargas_parciales_2,
        MAX(cd2.`descargas parciales`) AS max_descargas_parciales_2

    FROM
        df_OF_cent OFc

    LEFT JOIN
        df_centrifugadoras_02 cd1
    ON
        OFc.ID_centrifuga = cd1.EQUIPO
        AND cd1.DateTime BETWEEN OFc.Inicio_Centrifugacion_1 AND OFc.Fin_Centrifugacion_1

    LEFT JOIN
        df_centrifugadoras_02 cd2
    ON
        OFc.ID_centrifuga = cd2.EQUIPO
        AND cd2.DateTime BETWEEN OFc.Inicio_Centrifugacion_2 AND OFc.Fin_Centrifugacion_2

    GROUP BY
        OFc.Lote;
'''

# Ejecutamos la consulta y generamos un dataframe
df_metrics_cent = psql.sqldf(consulta, locals())
display(df_metrics_cent)

,Lote,ID_centrifuga,Inicio_Centrifugacion_1,Fin_Centrifugacion_1,avg_velocidad_sep_1,min_velocidad_sep_1,max_velocidad_sep_1,avg_presion_agua_1,min_presion_agua_1,max_presion_agua_1,...,max_caudal_2,avg_apertura_valvula_agua_2,min_apertura_valvula_agua_2,max_apertura_valvula_agua_2,avg_descargas_totales_2,min_descargas_totales_2,max_descargas_totales_2,avg_descargas_parciales_2,min_descargas_parciales_2,max_descargas_parciales_2
0,0,14246.0,2023-07-07 11:53:24,2023-07-07 15:06:24,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,260.666834,1.192823,-0.004933,3.712791,NaN,NaN,NaN,3336.449750,0.000000,6675.081718
1,23019,17825.0,2023-03-23 07:53:57,2023-03-23 10:29:43,6679.593514,6678.278679,6680.694838,NaN,NaN,NaN,...,255.317259,26.471614,26.175997,26.732428,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,23020,14246.0,2023-03-23 08:00:49,2023-03-23 10:26:25,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,258.705689,2.678881,0.016039,3.545359,NaN,NaN,NaN,6650.426390,6518.431966,6677.551716
3,23021,17825.0,2023-03-24 08:31:15,2023-03-24 11:53:41,6680.760697,6678.192329,6683.191550,NaN,NaN,NaN,...,477.474482,26.528782,26.088005,27.419607,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,23022,12912.0,2023-03-24 08:11:53,2023-03-24 11:32:53,0.000000,0.000000,0.000000,0.357143,0.0,1.0,...,563.939978,2.600954,0.555305,3.259559,NaN,NaN,NaN,6678.741666,6677.179237,6681.402561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,24106,12912.0,2024-07-03 07:43:09,2024-07-03 11:00:11,0.000000,0.000000,0.000000,0.071429,0.0,1.0,...,255.335524,1.112902,-0.005150,3.329689,2.015265,1.198738,3.123587,3569.122378,0.000000,6664.209955
203,24107,14246.0,2024-07-03 07:50:38,2024-07-03 11:08:40,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,340.394400,1.679032,0.007609,3.511598,1.201718,0.107519,1.715353,4687.211868,0.000000,6682.231023
204,24108,14246.0,2024-07-08 08:09:55,2024-07-08 11:07:41,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,263.593067,1.334550,0.008328,3.210500,1.605238,1.442146,1.733981,3950.935798,0.000000,6677.068196
205,24109,12912.0,2024-07-05 07:43:06,2024-07-05 11:13:40,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,257.349788,1.026492,-0.005605,3.077578,2.049252,1.408552,3.090590,4080.770998,0.000000,6666.254359
206,24110,14246.0,2024-07-05 07:42:06,2024-07-05 11:23:24,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,322.518322,1.716195,0.007292,3.173001,1.434309,0.080515,1.845868,4682.058417,0.000000,6676.982778

In [14]:
# Convertimos los campos de fecha de object a datetime
df_metrics_cent['Inicio_Centrifugacion_1'] = pd.to_datetime(df_metrics_cent['Inicio_Centrifugacion_1'])
df_metrics_cent['Fin_Centrifugacion_1'] = pd.to_datetime(df_metrics_cent['Fin_Centrifugacion_1'])
df_metrics_cent['Inicio_Centrifugacion_2'] = pd.to_datetime(df_metrics_cent['Inicio_Centrifugacion_2'])
df_metrics_cent['Fin_Centrifugacion_2'] = pd.to_datetime(df_metrics_cent['Fin_Centrifugacion_2'])

# Calculamos la diferencia entre las fechas
df_metrics_cent['tiempo_centrifugacion_1'] = (df_metrics_cent['Fin_Centrifugacion_1'] - df_metrics_cent['Inicio_Centrifugacion_1']).dt.total_seconds() / 3600
df_metrics_cent['tiempo_centrifugacion_2'] = (df_metrics_cent['Fin_Centrifugacion_2'] - df_metrics_cent['Inicio_Centrifugacion_2']).dt.total_seconds() / 3600

In [16]:
# Eliminamos los lotes de CineticosIPC_Centrifugacion que no se encuentrene en OF_123456 (no hay que tenerlos en cuenta)
consulta = '''
    SELECT
        OF.Lote,
        Centrífuga,
        `Centrifugada (1 o 2)`,
        `Volumen centrifugado (L)`,
        Turbidez

    FROM
        df_OF_02 OF

    LEFT JOIN 
        df_centIPC_02 cIPC
    ON 
        OF.Lote = cIPC.Lote

'''

# Ejecutamos la consulta y generamos un dataframe
df_OF_centIPC = psql.sqldf(consulta, locals())
display(df_OF_centIPC)

,Lote,Centrífuga,Centrifugada (1 o 2),Volumen centrifugado (L),Turbidez
0,23019,17825.0,1.0,200.0,26.80
1,23019,17825.0,1.0,400.0,26.32
2,23019,17825.0,1.0,600.0,28.16
3,23019,17825.0,1.0,800.0,28.08
4,23019,17825.0,1.0,1000.0,28.40
...,...,...,...,...,...
2205,24110,14246.0,1.0,200.0,35.04
2206,24110,14246.0,1.0,1000.0,34.24
2207,24110,14246.0,1.0,2000.0,34.40
2208,24110,14246.0,2.0,100.0,28.00
2209,24110,14246.0,2.0,400.0,27.60

In [17]:
# Pivotamos la tabla CineticosIPC_Centrifugacion (habiendo eliminado los lotes que no aparecen en OF_123456) 
# usando Lote y Centrífuga como claves para reorganizar las operaciones y sus correspondientes valores de Turbidez 
df_pivoted_centIPC= df_OF_centIPC.pivot_table(index=['Lote', 'Centrífuga'], columns=['Centrifugada (1 o 2)', 'Volumen centrifugado (L)'], values='Turbidez', aggfunc='first').reset_index()

# Renombramos los nombres de las columnas
df_pivoted_centIPC.columns = ['Lote', 'Centrífuga', 'Turbidez_1_100', 'Turbidez_1_200','Turbidez_1_400','Turbidez_1_600','Turbidez_1_800','Turbidez_1_1000','Turbidez_1_1200','Turbidez_1_1400','Turbidez_1_1600','Turbidez_1_1800','Turbidez_1_2000','Turbidez_2_100','Turbidez_2_200','Turbidez_2_300','Turbidez_2_400',]
display(df_pivoted_centIPC)

,Lote,Centrífuga,Turbidez_1_100,Turbidez_1_200,Turbidez_1_400,Turbidez_1_600,Turbidez_1_800,Turbidez_1_1000,Turbidez_1_1200,Turbidez_1_1400,Turbidez_1_1600,Turbidez_1_1800,Turbidez_1_2000,Turbidez_2_100,Turbidez_2_200,Turbidez_2_300,Turbidez_2_400
0,23019,17825.0,NaN,26.80,26.32,28.16,28.08,28.40,27.68,28.56,28.48,28.88,28.16,20.80,20.80,21.60,21.52
1,23020,14246.0,NaN,29.84,28.64,30.88,28.56,27.60,27.76,28.32,27.60,28.48,26.88,12.80,13.04,12.88,12.88
2,23021,17825.0,NaN,28.64,30.40,28.72,28.72,29.20,28.64,29.12,29.52,29.12,28.96,18.48,20.48,17.84,20.24
3,23022,12912.0,NaN,26.32,26.40,26.24,26.40,26.24,26.08,26.32,26.96,26.88,26.56,10.08,10.00,11.04,9.44
4,23023,17825.0,NaN,26.56,26.00,26.24,26.80,27.04,26.24,26.96,26.96,26.56,26.88,21.04,20.96,20.80,20.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,24106,12912.0,NaN,32.40,NaN,NaN,NaN,31.44,NaN,NaN,NaN,NaN,32.64,26.80,NaN,NaN,26.00
202,24107,14246.0,NaN,28.56,NaN,NaN,NaN,28.00,NaN,NaN,NaN,NaN,28.32,22.72,NaN,NaN,23.84
203,24108,14246.0,NaN,29.36,NaN,NaN,NaN,30.00,NaN,NaN,NaN,NaN,29.92,15.44,NaN,NaN,15.36
204,24109,12912.0,NaN,31.84,NaN,NaN,NaN,31.36,NaN,NaN,NaN,NaN,31.84,29.36,NaN,NaN,28.00
205,24110,14246.0,NaN,35.04,NaN,NaN,NaN,34.24,NaN,NaN,NaN,NaN,34.40,28.00,NaN,NaN,27.60

In [18]:
# Juntamos CineticosIPC_Centrifugacion pivotada con el dataframe df_metrics_cent 
consulta = '''
    SELECT
        mc.Lote,
        ID_centrifuga,

        -- Centrifugacion 1 --
        tiempo_centrifugacion_1,
        avg_velocidad_sep_1,
        min_velocidad_sep_1,
        max_velocidad_sep_1,
        avg_presion_agua_1,
        min_presion_agua_1,
        max_presion_agua_1,
        avg_contrapresion_1,
        min_contrapresion_1,
        max_contrapresion_1,
        avg_caudal_1,
        min_caudal_1,
        max_caudal_1,
        avg_apertura_valvula_agua_1,
        min_apertura_valvula_agua_1,
        max_apertura_valvula_agua_1,
        avg_descargas_totales_1,
        min_descargas_totales_1,
        max_descargas_totales_1,
        avg_descargas_parciales_1,
        min_descargas_parciales_1,
        max_descargas_parciales_1,
        Turbidez_1_100,
        Turbidez_1_200,
        Turbidez_1_400,
        Turbidez_1_600,
        Turbidez_1_800,
        Turbidez_1_1000,
        Turbidez_1_1200,
        Turbidez_1_1400,
        Turbidez_1_1600,
        Turbidez_1_1800,
        Turbidez_1_2000,

        -- Centrifugacion 2 --
        tiempo_centrifugacion_2,
        avg_velocidad_sep_2,
        min_velocidad_sep_2,
        max_velocidad_sep_2,
        avg_presion_agua_2,
        min_presion_agua_2,
        max_presion_agua_2,
        avg_contrapresion_2,
        min_contrapresion_2,
        max_contrapresion_2,
        avg_caudal_2,
        min_caudal_2,
        max_caudal_2,
        avg_apertura_valvula_agua_2,
        min_apertura_valvula_agua_2,
        max_apertura_valvula_agua_2,
        avg_descargas_totales_2,
        min_descargas_totales_2,
        max_descargas_totales_2,
        avg_descargas_parciales_2,
        min_descargas_parciales_2,
        max_descargas_parciales_2,
        Turbidez_2_100,
        Turbidez_2_200,
        Turbidez_2_300,
        Turbidez_2_400


    FROM
        df_metrics_cent mc

    LEFT JOIN 
        df_pivoted_centIPC cIPC
    ON 
        mc.Lote = cIPC.Lote

'''
# Ejecutar la consulta
df_cent_03 = psql.sqldf(consulta, locals())
display(df_cent_03)

,Lote,ID_centrifuga,tiempo_centrifugacion_1,avg_velocidad_sep_1,min_velocidad_sep_1,max_velocidad_sep_1,avg_presion_agua_1,min_presion_agua_1,max_presion_agua_1,avg_contrapresion_1,...,avg_descargas_totales_2,min_descargas_totales_2,max_descargas_totales_2,avg_descargas_parciales_2,min_descargas_parciales_2,max_descargas_parciales_2,Turbidez_2_100,Turbidez_2_200,Turbidez_2_300,Turbidez_2_400
0,0,14246.0,3.216667,0.000000,0.000000,0.000000,0.000000,0.0,0.0,37.693412,...,NaN,NaN,NaN,3336.449750,0.000000,6675.081718,NaN,NaN,NaN,NaN
1,23019,17825.0,2.596111,6679.593514,6678.278679,6680.694838,NaN,NaN,NaN,3.197993,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.80,20.80,21.60,21.52
2,23020,14246.0,2.426667,0.000000,0.000000,0.000000,0.000000,0.0,0.0,24.421936,...,NaN,NaN,NaN,6650.426390,6518.431966,6677.551716,12.80,13.04,12.88,12.88
3,23021,17825.0,3.373889,6680.760697,6678.192329,6683.191550,NaN,NaN,NaN,3.200649,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.48,20.48,17.84,20.24
4,23022,12912.0,3.350000,0.000000,0.000000,0.000000,0.357143,0.0,1.0,32.800480,...,NaN,NaN,NaN,6678.741666,6677.179237,6681.402561,10.08,10.00,11.04,9.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,24106,12912.0,3.283889,0.000000,0.000000,0.000000,0.071429,0.0,1.0,42.780822,...,2.015265,1.198738,3.123587,3569.122378,0.000000,6664.209955,26.80,NaN,NaN,26.00
203,24107,14246.0,3.300556,0.000000,0.000000,0.000000,0.000000,0.0,0.0,39.817761,...,1.201718,0.107519,1.715353,4687.211868,0.000000,6682.231023,22.72,NaN,NaN,23.84
204,24108,14246.0,2.962778,0.000000,0.000000,0.000000,0.000000,0.0,0.0,34.869814,...,1.605238,1.442146,1.733981,3950.935798,0.000000,6677.068196,15.44,NaN,NaN,15.36
205,24109,12912.0,3.509444,0.000000,0.000000,0.000000,0.000000,0.0,0.0,43.068094,...,2.049252,1.408552,3.090590,4080.770998,0.000000,6666.254359,29.36,NaN,NaN,28.00
206,24110,14246.0,3.688333,0.000000,0.000000,0.000000,0.000000,0.0,0.0,43.317903,...,1.434309,0.080515,1.845868,4682.058417,0.000000,6676.982778,28.00,NaN,NaN,27.60

In [19]:
# Guardamos el resultado en un archivo Excel
df_cent_03.to_excel(f'{path_structured}centrifugacion_total.xlsx', index=False)

## 3.6 MATERIAS PRIMAS

In [ ]:
path_mp_02 = path_cleansed + 'materias_primas.xlsx'

df_mp_02 = pd.read_excel(path_mp_02)

In [ ]:
# Pivotamos la tabla Centrifugacion usando 'Orden' como clave para reorganizar las operaciones y sus correspondientes valores de 'DATETIME'
df_mp_03= df_mp_02.pivot_table(index='Lote', columns='Material', values='Qty', aggfunc='sum').reset_index()
df_mp_03.columns = ['Lote', 'qty_01', 'qty_02', 'qty_03', 'qty_04', 'qty_05', 'qty_06', 'qty_07', 'qty_08', 'qty_09', 'qty_10', 'qty_11', 'qty_12', 'qty_13']
display(df_mp_03)

In [ ]:
df_mp_03.to_excel(f'{path_structured}materias_primas_total.xlsx', index=False)